.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
}

figure {
  margin: 0 0 1rem;
}
figure img {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0e0d12;
  position: relative;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #00a693 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.hide {
  display: none !important;
}

/* Track */
/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgba(0, 166, 147, 0.514);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #00a693;
}

.d-n {
  display: none;
}

.container {
  width: 100%;
  color: #ffffff;
}

.row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

.pt-150 {
  padding-top: 150px;
}

img {
  height: 100%;
  width: 100%;
}

.btn-social {
  width: 25px;
  height: 25px;
  border-radius: 6px;
  border: none;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  line-height: 60px;
}
.title h2 {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.title svg {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  fill: #0ab39f;
  width: 25px;
}
.title svg:hover {
  color: #00a693;
}

.btn-load {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: transparent;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #313132;
  transition: border 0.4s;
}
.btn-load:hover {
  border: 1px solid #86888b;
}

.spinner {
  display: none;
  justify-content: center;
  align-items: center;
}
.spinner svg {
  color: white;
  font-size: 30px;
}

/* start - junrel - 10/30/2020
	preloader 
*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* end preloader*/
/* start junrel - 11/06/2020 */
/* start junrel - 11/06/2020
 * watch suggested 
*/
/* end junrel */
.input-wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
}
.input-wrapper .input {
  width: 90%;
  border: none;
  background: #fafafa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 599px) {
  .input-wrapper .input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.input-wrapper .input.valid {
  border: 1px solid #0ab39f !important;
}
.input-wrapper .input.error {
  border: 1px solid #dc3545 !important;
}
.input-wrapper label.error {
  color: #dc3545 !important;
}
.input-wrapper .input:focus,
.input-wrapper .btn:focus {
  outline: none;
}
.input-wrapper .btn {
  border: none;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  color: #00a693;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  background: #0c0e17;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  line-height: 75px;
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}
header nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header nav .logo img {
  width: 100px;
  margin-right: 14px;
}
header nav .nav-links {
  display: flex;
  flex: 0.4;
  justify-content: space-around;
  align-items: center;
}
header nav li {
  list-style: none;
  cursor: pointer;
}
header nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  line-height: 18px;
  transition: all 100ms ease-in;
  font-size: 0.9975rem;
}
header nav li a:hover {
  color: #0ab39f;
}
header nav .login {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}
header nav .login .search-wrapper button {
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  background: none;
  color: #fff;
}
header nav .login .search-wrapper button:hover {
  background: #1b243c;
}
header nav .login .search-wrapper button svg {
  font-size: 16px;
}
header nav .login .search-wrapper button span {
  width: 25px;
}
header nav .login .search-wrapper button:focus {
  outline: none;
}
header nav .burger {
  display: none;
  cursor: pointer;
}
@media (max-width: 599px) {
  header nav ul {
    font-size: 18px;
    left: 100%;
    position: absolute;
    flex-direction: column;
    width: 100%;
    background: #0c0e17;
    transition: all 0.2s ease-in;
    padding: 10px;
  }
  header nav ul li {
    font-size: 16px;
    letter-spacing: 0.03rem;
    padding: 1.2rem 5%;
    line-height: 0;
  }
  header nav ul .log-mobile {
    display: block !important;
  }
  header nav .profileLinks-mobile {
    display: block;
  }
  header nav .profileLinks-d {
    display: none;
  }
  header nav .login {
    display: none;
  }
  header nav .search-wrapper-mobile {
    flex: 1;
    display: block;
  }
  header nav .search-wrapper-mobile button {
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    background: none;
    color: white;
    float: right;
  }
  header nav .search-wrapper-mobile button svg {
    font-size: 16px;
  }
  header nav .search-wrapper-mobile button:hover {
    color: #0ab39f;
  }
  header nav .search-wrapper-mobile button:focus {
    outline: none;
  }
  header nav .search-wrapper {
    position: absolute;
    display: none;
  }
  header nav .open {
    left: 0;
  }
  header nav .nav-links {
    top: 67px;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  header nav .login {
    top: 70vh;
    padding: 10px 0 20px 0;
    align-items: center;
  }
  header nav .logo img {
    width: 80px !important;
  }
  header nav .burger {
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
  }
  header nav .burger div {
    height: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 24px;
    background: white;
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    will-change: transform, opacity;
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  header nav .toggle .line1 {
    -webkit-transform: rotate(-45deg) translateX(0.5px);
    -ms-transform: rotate(-45deg) translateX(0.5px);
    transform: rotate(-45deg) translateX(0.5px);
  }
  header nav .toggle .line2 {
    opacity: 0;
  }
  header nav .toggle .line3 {
    -webkit-transform: rotate(45deg) translateX(0.5px);
    -ms-transform: rotate(45deg) translateX(0.5px);
    transform: rotate(45deg) translateX(0.5px);
  }
}
@media only screen and (min-width: 600px) {
  header nav .logo img {
    width: 80px;
  }
  header nav .nav-links {
    flex: 1;
  }
  header nav ul {
    font-size: 13px;
  }
}
@media only screen and (min-width: 768px) {
  header nav .logo img {
    width: 100px;
  }
  header nav .nav-links {
    flex: 1;
  }
  header nav ul {
    font-size: 15px;
  }
}
@media only screen and (min-width: 992px) {
  header nav .nav-links {
    flex: 0.5;
  }
}
@media only screen and (min-width: 1200px) {
  header nav .logo img {
    width: 100px;
  }
  header nav .nav-links {
    flex: 0.4;
  }
  header nav ul {
    font-size: 16px;
  }
}

footer {
  color: #535353;
  width: 100%;
  bottom: 0;
  background: #0c0e17;
}
footer .container-footer {
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
footer .container-footer .social {
  color: #686868;
  font-size: 28px;
}
footer .container-footer .social a {
  color: #fff;
  margin-right: 14px;
}
footer .container-footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  font-size: 14px;
}
footer .container-footer .container a {
  color: #949cb0 !important;
}
footer .container-footer a {
  text-decoration: none;
  background: transparent;
}
footer .container-footer a:hover {
  color: #00a693;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 150px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.67);
  /* Black w/ opacity */
}
@media (max-width: 599px) {
  .modal {
    width: 90%;
    margin: auto;
  }
}
.modal .modal-content {
  background: #ffffff;
  margin: auto;
  padding: 30px;
  width: 450px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 599px) {
  .modal .modal-content {
    width: 90%;
    margin: auto;
  }
}
.modal .modal-content .modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .modal-content .modal-title h2 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #030303;
}
.modal .modal-content .modal-title .close {
  float: right;
  cursor: pointer;
  width: 25px;
}
.modal .modal-content .modal-title .close:hover {
  background: rgba(128, 128, 128, 0.1);
  border-radius: 5px;
}
.modal .modal-content .modal-title .close svg {
  fill: #a4a4a4;
}
.modal .modal-content .modal-body .share-wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ededed;
  background: #fafafa;
  gap: 5px;
}
.modal .modal-content .modal-body .share-wrapper input {
  width: 90%;
  border: none;
  background: #fafafa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 599px) {
  .modal .modal-content .modal-body .share-wrapper input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.modal .modal-content .modal-body .share-wrapper input:focus,
.modal .modal-content .modal-body .share-wrapper button:focus {
  outline: none;
}
.modal .modal-content .modal-body .share-wrapper button {
  border: none;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  color: #00a693;
}

.share-img {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 300px;
}

.favorite-section,
.recently-section {
  background: #131722;
  min-height: 100vh;
  padding-bottom: 100px;
}
.favorite-section button,
.recently-section button {
  padding: 5px 15px;
  margin-bottom: 20px;
  border: none;
  background: #949cb038;
  color: #f1f1f1d6;
  border-radius: 5px;
}
.favorite-section button:focus,
.recently-section button:focus {
  outline: none;
}
.favorite-section button:disabled,
.recently-section button:disabled {
  opacity: 0.4;
}
.favorite-section button:disabled:hover,
.recently-section button:disabled:hover {
  opacity: 0.4;
}
.favorite-section button:hover,
.recently-section button:hover {
  background: #eeeeee2b;
}
.favorite-section .title,
.recently-section .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}
.favorite-section .title h4,
.recently-section .title h4 {
  font-size: 1.35rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
}
.favorite-section .title .close,
.recently-section .title .close {
  cursor: pointer;
  width: 25px;
}
.favorite-section .title .close:hover,
.recently-section .title .close:hover {
  background: rgba(128, 128, 128, 0.1);
  border-radius: 5px;
}
.favorite-section .title .close svg,
.recently-section .title .close svg {
  fill: #0ab39f;
}
.favorite-section .video-list,
.recently-section .video-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.6rem, 1fr));
  gap: 0.79rem;
  grid-row-gap: 1.7rem;
}
@media (max-width: 599px) {
  .favorite-section .video-list,
.recently-section .video-list {
    grid-template-columns: repeat(auto-fill, minmax(40%, 0.5fr));
  }
}
.favorite-section .video-list .card,
.recently-section .video-list .card {
  position: relative;
  cursor: pointer;
}
.favorite-section .video-list .card .thumbnail,
.recently-section .video-list .card .thumbnail {
  height: 12.5rem;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  position: relative;
}
@media (max-width: 599px) {
  .favorite-section .video-list .card .thumbnail,
.recently-section .video-list .card .thumbnail {
    height: 9.2rem;
  }
}
.favorite-section .video-list .card .thumbnail img,
.recently-section .video-list .card .thumbnail img {
  height: 100%;
  width: 100%;
}
.favorite-section .video-list .card .thumbnail:hover::after,
.recently-section .video-list .card .thumbnail:hover::after {
  filter: alpha(opacity=50);
  opacity: 0.8;
  background: #00ffff30;
}
.favorite-section .video-list .card .thumbnail::after,
.recently-section .video-list .card .thumbnail::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background: transparent;
  transition: all 200ms ease;
}
.favorite-section .video-list .card .content,
.recently-section .video-list .card .content {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
.favorite-section .video-list .card .content h2,
.recently-section .video-list .card .content h2 {
  font-size: 0.87422rem;
  font-weight: 500;
  letter-spacing: 0.0278rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}
.favorite-section .video-list .card .content h2:hover,
.recently-section .video-list .card .content h2:hover {
  color: #0ab39f;
}
.favorite-section .video-list .card .content .action,
.recently-section .video-list .card .content .action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.favorite-section .video-list .card .content .action button,
.recently-section .video-list .card .content .action button {
  margin-top: 2px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: #949cb038;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  font-size: 10px;
}
.favorite-section .video-list .card .content .action button svg,
.recently-section .video-list .card .content .action button svg {
  color: #f1f1f1d6;
}
.favorite-section .video-list .card .content .action button:focus,
.recently-section .video-list .card .content .action button:focus {
  outline: none;
}
.favorite-section .video-list .card .content .action button:hover,
.recently-section .video-list .card .content .action button:hover {
  background: #eeeeee2b;
}

.favorite-section-article {
  background: #ffffff;
  padding-top: 50px;
}
.favorite-section-article .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.favorite-section-article .title h4 {
  font-size: 1.35rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  color: #0c0e17;
}
.favorite-section-article .title span.close {
  cursor: pointer;
  width: 25px;
}
.favorite-section-article .title span.close svg {
  fill: #0ab39f;
}
.favorite-section-article .title span.close:hover {
  background: rgba(128, 128, 128, 0.1);
  border-radius: 5px;
}
.favorite-section-article .clear-history {
  padding: 5px 15px;
  margin-bottom: 20px;
  border: none;
  background: #00a693;
  color: #fff;
  border-radius: 5px;
}
.favorite-section-article .list-article .card {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  flex-direction: inherit;
  gap: 30px;
  margin-bottom: 50px;
}
.favorite-section-article .list-article .card .image {
  width: 360px;
  height: 200px;
  cursor: pointer;
  position: relative;
}
.favorite-section-article .list-article .card .image .featured-img {
  width: 100%;
  height: 100%;
}
.favorite-section-article .list-article .card .image .source-content {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 5px;
}
.favorite-section-article .list-article .card .image .source-content .source-logo {
  height: 40px;
  width: 50px;
}
.favorite-section-article .list-article .card .image .source-content .source-logo img {
  height: 100%;
  width: 100%;
}
.favorite-section-article .list-article .card .details {
  flex: 1;
}
.favorite-section-article .list-article .card .details h3 {
  font-weight: 600;
  cursor: pointer;
  font-size: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: inherit;
  color: #0c0e17;
}
.favorite-section-article .list-article .card .details .posted {
  font-size: 0.812rem;
  font-weight: 400;
  color: #949cb0;
  font-style: italic;
}
.favorite-section-article .list-article .card .details .description {
  margin-top: 15px;
  display: block;
  font-size: 0.812rem;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #0c0e17;
}
.favorite-section-article .list-article .card .details .source {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.favorite-section-article .list-article .card .details .source .action {
  flex: 1;
  gap: 5px;
  display: flex;
}
.favorite-section-article .list-article .card .details .source .action button {
  margin-top: 2px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: #949cb038;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  font-size: 10px;
}
.favorite-section-article .list-article .card .details .source .action button svg {
  color: gray;
}
.favorite-section-article .list-article .card .details .source .action button:hover {
  background: #dddfea;
}
.favorite-section-article .list-article .card .details .source .action button:focus {
  outline: none;
}

.recently-read-section {
  background: #ffffff;
  min-height: 80vh;
}
.recently-read-section .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.recently-read-section .title h4 {
  font-size: 1.35rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  color: #0c0e17;
}
.recently-read-section .title span.close {
  cursor: pointer;
  width: 25px;
}
.recently-read-section .title span.close svg {
  fill: #0ab39f;
}
.recently-read-section .title span.close:hover {
  background: rgba(128, 128, 128, 0.1);
  border-radius: 5px;
}
.recently-read-section .clear-history {
  padding: 5px 15px;
  margin-bottom: 20px;
  border: none;
  background: #00a693;
  color: #fff;
  border-radius: 5px;
}
.recently-read-section .clear-history:focus {
  outline: none;
}
.recently-read-section .clear-history:disabled {
  opacity: 0.4;
}
.recently-read-section .clear-history:disabled:hover {
  opacity: 0.4;
}
.recently-read-section .video-list .card {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  flex-direction: inherit;
  gap: 30px;
  margin-bottom: 50px;
}
@media (max-width: 599px) {
  .recently-read-section .video-list .card {
    flex-direction: column;
  }
}
.recently-read-section .video-list .card .image {
  width: 360px;
  height: 200px;
  cursor: pointer;
  position: relative;
}
@media (max-width: 599px) {
  .recently-read-section .video-list .card .image {
    width: 100%;
    height: 100%;
  }
}
.recently-read-section .video-list .card .image .featured-img {
  width: 100%;
  height: 100%;
}
.recently-read-section .video-list .card .image .source-content {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 5px;
}
.recently-read-section .video-list .card .image .source-content .source-logo {
  height: 40px;
  width: 50px;
}
.recently-read-section .video-list .card .image .source-content .source-logo img {
  height: 100%;
  width: 100%;
}
.recently-read-section .video-list .card .details {
  flex: 1;
}
.recently-read-section .video-list .card .details h3 {
  font-weight: 600;
  cursor: pointer;
  font-size: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: inherit;
  color: #0c0e17;
}
.recently-read-section .video-list .card .details .posted {
  font-size: 0.812rem;
  font-weight: 400;
  color: #949cb0;
  font-style: italic;
}
.recently-read-section .video-list .card .details .description {
  margin-top: 15px;
  display: block;
  font-size: 0.812rem;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #0c0e17;
}
.recently-read-section .video-list .card .details .source {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.recently-read-section .video-list .card .details .source .action {
  flex: 1;
  gap: 5px;
  display: flex;
}
.recently-read-section .video-list .card .details .source .action button {
  margin-top: 2px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: #949cb038;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  font-size: 10px;
}
.recently-read-section .video-list .card .details .source .action button:hover {
  background: #dddfea;
}
.recently-read-section .video-list .card .details .source .action button:focus {
  outline: none;
}

.playlist-items-section {
  background: #131722;
  min-height: 100vh;
}
.playlist-items-section .wrapper {
  width: 90%;
  margin: auto;
}
.playlist-items-section .wrapper .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}
.playlist-items-section .wrapper .title h2 {
  font-size: 1.35rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
}
.playlist-items-section .wrapper .title .close {
  cursor: pointer;
  width: 25px;
}
.playlist-items-section .wrapper .title .close:hover {
  background: rgba(128, 128, 128, 0.1);
  border-radius: 5px;
}
.playlist-items-section .wrapper .title .close svg {
  fill: #0ab39f;
}
.playlist-items-section .wrapper .playlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.6rem, 1fr));
  gap: 0.79rem;
  grid-row-gap: 1.7rem;
}
@media (max-width: 599px) {
  .playlist-items-section .wrapper .playlist {
    grid-template-columns: repeat(auto-fill, minmax(40%, 0.5fr));
  }
}
.playlist-items-section .wrapper .playlist .card {
  display: flex;
  flex-direction: column;
}
.playlist-items-section .wrapper .playlist .card .thumbnail {
  height: 12.5rem;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  position: relative;
}
@media (max-width: 599px) {
  .playlist-items-section .wrapper .playlist .card .thumbnail {
    height: 9.2rem;
  }
}
.playlist-items-section .wrapper .playlist .card .thumbnail img {
  height: 100%;
  width: 100%;
}
.playlist-items-section .wrapper .playlist .card .thumbnail:hover::after {
  filter: alpha(opacity=50);
  opacity: 0.8;
  background: #00ffff30;
}
.playlist-items-section .wrapper .playlist .card .thumbnail::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background: transparent;
  transition: all 200ms ease;
}
.playlist-items-section .wrapper .playlist .card h2 {
  font-size: 0.87422rem;
  font-weight: 500;
  letter-spacing: 0.0278rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}
.playlist-items-section .wrapper .playlist .card .action {
  display: flex;
  justify-content: flex-end;
}
.playlist-items-section .wrapper .playlist .card .action button {
  margin-top: 2px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: #949cb038;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  font-size: 10px;
}

.search-container {
  margin-top: 9vh;
  width: 100%;
  background: #131722;
  min-height: 100vh;
}
.search-container .search-wrapper {
  padding-top: 100px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.search-container .search-wrapper .search-input {
  width: 100%;
  position: relative;
}
.search-container .search-wrapper .search-input input {
  width: 100%;
  padding: 1em;
  border-radius: 3px;
  outline: 0;
  border: none;
  background: #373c49;
  font-size: 16px;
  color: #ffffff;
}
.search-container .search-wrapper .search-input input::placeholder {
  color: #fafafa;
  opacity: 1;
  /* Firefox */
}
.search-container .search-wrapper .search-input input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fafafa;
}
.search-container .search-wrapper .search-input input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fafafa;
}
.search-container .search-wrapper .search-input input:focus {
  outline: none;
  border: 1px solid #08e7cd26;
}
.search-container .search-wrapper .search-input button {
  position: absolute;
  right: 25px;
  top: 18px;
  background: none;
  border: none;
  cursor: pointer;
}
.search-container .search-wrapper .search-input button svg {
  color: #2a2b2c;
  font-size: 16px;
}
.search-container .search-wrapper .search-input button:focus {
  outline: none;
  color: #08e7cd;
}
.search-container .search-wrapper .title-result {
  padding-top: 20px;
}
.search-container .search-wrapper h3 {
  color: white;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.search-container .search-wrapper .results-container {
  width: 100%;
}
.search-container .search-wrapper .results-container .results-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.search-container .search-wrapper .results-container .results-wrapper h4 {
  padding: 15px 0 15px;
  color: white;
  font-weight: normal;
}
.search-container .search-wrapper .results-container .results-wrapper .results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.6rem, 1fr));
  gap: 0.79rem;
  grid-row-gap: 1.7rem;
  margin-top: 20px;
  margin-bottom: 80px;
}
@media (max-width: 599px) {
  .search-container .search-wrapper .results-container .results-wrapper .results {
    grid-template-columns: repeat(auto-fill, minmax(40%, 0.5fr));
  }
}
.search-container .search-wrapper .results-container .results-wrapper .results .card .thumbnail {
  height: 12.5rem;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  position: relative;
}
@media (max-width: 599px) {
  .search-container .search-wrapper .results-container .results-wrapper .results .card .thumbnail {
    height: 9.2rem;
  }
}
.search-container .search-wrapper .results-container .results-wrapper .results .card .thumbnail img {
  height: 100%;
  width: 100%;
}
.search-container .search-wrapper .results-container .results-wrapper .results .card .thumbnail::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background: transparent;
  transition: all 200ms ease;
}
.search-container .search-wrapper .results-container .results-wrapper .results .card .thumbnail:hover::after {
  filter: alpha(opacity=50);
  opacity: 0.8;
  background: #00ffff30;
}
.search-container .search-wrapper .results-container .results-wrapper .results .card .content {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
.search-container .search-wrapper .results-container .results-wrapper .results .card .content h2 {
  font-size: 0.87422rem;
  font-weight: 500;
  letter-spacing: 0.0278rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}
.search-container .search-wrapper .results-container .results-wrapper .results .card .content .action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.search-container .search-wrapper .results-container .results-wrapper .results .card .content .action button {
  margin-top: 2px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: #949cb038;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  font-size: 10px;
}
.search-container .search-wrapper .results-container .results-wrapper .results .card .content .action button svg {
  color: #f1f1f1d6;
}
.search-container .search-wrapper .results-container .results-wrapper .results .card .content .action button:focus {
  outline: none;
}
.search-container .search-wrapper .results-container .results-wrapper .results .card .content .action button:hover {
  background: #eeeeee2b;
}
.search-container .search-wrapper .results-container .results-wrapper .btn-load {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: transparent;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #313132;
  transition: border 0.4s;
}
.search-container .search-wrapper .results-container .results-wrapper .btn-load:hover {
  border: 1px solid #86888b;
}
.search-container .search-wrapper .results-container .results-wrapper .spinner {
  display: none;
  justify-content: center;
  align-items: center;
}
.search-container .search-wrapper .results-container .results-wrapper .spinner svg {
  color: white;
  font-size: 30px;
}

.results-read-wrapper {
  margin-top: 50px;
  width: 100%;
  background: white;
}
.results-read-wrapper .wrapper {
  padding: 30px 0 30px;
  width: 90%;
  margin: auto;
}
.results-read-wrapper .wrapper .title-result {
  font-weight: normal;
}
@media (max-width: 599px) {
  .results-read-wrapper .wrapper .results {
    display: flex;
    flex-direction: column;
  }
}
.results-read-wrapper .wrapper .results h4 {
  padding: 10px 0 0 50px;
  font-weight: normal;
}
.results-read-wrapper .wrapper .results .card-read {
  padding: 10px 0 20px 50px;
  display: flex;
  grid-gap: 10px;
}
@media (max-width: 599px) {
  .results-read-wrapper .wrapper .results .card-read {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
  }
}
.results-read-wrapper .wrapper .results .card-read .source-logo {
  height: 45px;
  width: 50px;
}
.results-read-wrapper .wrapper .results .card-read .details {
  flex: 1;
  color: #000000;
}
.results-read-wrapper .wrapper .results .card-read .details h3 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}
.results-read-wrapper .wrapper .results .card-read .details h3:hover {
  color: #027b6e;
}
.results-read-wrapper .wrapper .results .card-read .details span {
  font-size: 10px;
  background: #00a693;
  padding: 2px 5px 2px;
  border-radius: 3px;
  color: white;
}
.results-read-wrapper .wrapper .results .card-read .details p {
  font-size: 14px;
}
.results-read-wrapper .wrapper .results .card-read .featured-img {
  height: 150px;
  width: 200px;
}
@media (max-width: 599px) {
  .results-read-wrapper .wrapper .results .card-read .featured-img {
    width: 100%;
  }
}
.results-read-wrapper .wrapper .full-read {
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px;
  width: 70%;
  margin: auto;
  position: relative;
}
@media (max-width: 599px) {
  .results-read-wrapper .wrapper .full-read {
    width: 100%;
  }
}
.results-read-wrapper .wrapper .full-read .back {
  position: absolute;
  right: -22%;
  background-color: #009688;
  border: none;
  color: white;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  cursor: pointer;
  outline: none;
}
@media (max-width: 599px) {
  .results-read-wrapper .wrapper .full-read .back {
    right: 0;
  }
}
.results-read-wrapper .wrapper .full-read h3 {
  padding: 20px 0 20px;
}
.results-read-wrapper .wrapper .full-read .img-banner {
  height: 500px;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}
@media (max-width: 599px) {
  .results-read-wrapper .wrapper .full-read .img-banner {
    height: 350px;
    width: 100%;
  }
}
.results-read-wrapper .wrapper .full-read .img-banner img {
  width: 100%;
  height: 100%;
}
.results-read-wrapper .wrapper .full-read .btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results-read-wrapper .wrapper .full-read .btn-group svg {
  margin: 20px;
}
.results-read-wrapper .wrapper .full-read .btn-group button {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Roboto, Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgba(0, 0, 0, 0);
  line-height: 1.75;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 500ms, -webkit-transform 1ms;
  -webkit-transition: all 500ms, transform 1ms;
  transition: all 500ms, transform 1ms;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 30px;
  width: 270px;
  border: 1px solid #a5dad5;
  color: #00a693;
}

.show-search {
  margin-top: 9vh;
}

.container .live-section {
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 599px) {
  .container .live-section .btn-social-desktop {
    display: none;
  }
  .container .live-section .btn-social-mobile {
    display: block;
  }
}
.container .live-section .playlist-wrapper {
  width: 0%;
  position: absolute;
  right: 0;
  top: 70px;
  opacity: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.container .live-section .playlist-wrapper .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .live-section .playlist-wrapper .title h2 {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.container .live-section .playlist-wrapper .title svg {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  fill: #0ab39f;
  width: 25px;
}
.container .live-section .playlist-wrapper .title svg:hover {
  color: #00a693;
}
.container .live-section .playlist-wrapper .social {
  width: 100%;
  display: flex;
  padding: 15px 10px;
  gap: 20px;
  align-items: center;
}
.container .live-section .playlist-wrapper .social button {
  border-radius: 0;
}
.container .live-section .playlist-wrapper .social button:focus {
  outline: none;
}
.container .live-section .playlist-wrapper .social svg {
  cursor: pointer;
  transition: all 100ms ease-in;
}
.container .live-section .playlist-wrapper .social svg:hover {
  color: #004d44;
}
@media (max-width: 599px) {
  .container .live-section .playlist-wrapper .social svg {
    font-size: 18px;
  }
}
.container .live-section .playlist-wrapper .playlist {
  background: #2e2f32;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px 10px 70px;
  height: 100%;
}
@media (max-width: 599px) {
  .container .live-section .playlist-wrapper .playlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 0.5fr));
    gap: 0.79rem;
    grid-row-gap: 1.7rem;
  }
}
.container .live-section .playlist-wrapper .playlist .card {
  padding-bottom: 10px;
}
.container .live-section .playlist-wrapper .playlist .card .thumbnail {
  height: 12.5rem;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  position: relative;
}
@media (max-width: 599px) {
  .container .live-section .playlist-wrapper .playlist .card .thumbnail {
    height: 6.2rem;
  }
}
.container .live-section .playlist-wrapper .playlist .card .thumbnail img {
  height: 100%;
  width: 100%;
}
.container .live-section .playlist-wrapper .playlist .card .thumbnail:hover::after {
  filter: alpha(opacity=50);
  opacity: 0.8;
  background: #00ffff30;
}
.container .live-section .playlist-wrapper .playlist .card .thumbnail::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background: transparent;
  transition: all 200ms ease;
}
.container .live-section .playlist-wrapper .playlist .card h2 {
  font-size: 0.87422rem;
  font-weight: 500;
  letter-spacing: 0.0278rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}
.container .live-section .playlist-wrapper .playlist .card .action {
  display: flex;
  justify-content: flex-end;
}
.container .live-section .playlist-wrapper .playlist .card .action button {
  margin-top: 2px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: #949cb038;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  font-size: 10px;
}
.container .live-section .playlist-wrapper .playlist .card .action button svg {
  color: #f1f1f1d6;
}
.container .live-section .playlist-wrapper .playlist .card .action button:focus {
  outline: none;
}
.container .live-section .playlist-wrapper .playlist .card .action button:hover {
  background: #eeeeee2b;
}
.container .live {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  width: 100%;
  height: 100vh;
  background-image: url("../images/Watch NOWNa BG Image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.container .live .social {
  position: absolute;
  z-index: 1;
  right: -10px;
  top: 173px;
  border-radius: 0 0 4px 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
}
.container .live .social button {
  width: 45px;
  height: 38px;
  background: #00a693;
  border: navajowhite;
}
.container .live .social button:focus {
  outline: none;
}
@media (max-width: 599px) {
  .container .live .social button {
    width: 49px;
    height: 38px;
    background: #00a693;
  }
}
.container .live .social svg {
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
@media (max-width: 599px) {
  .container .live .social {
    right: 19px;
    top: 21%;
    border-radius: 0;
    width: 38px;
  }
}
.container .live .video-list-pannel {
  width: 300px;
  position: absolute;
  right: -300px;
  top: 70px;
  transition: all 0.2s ease-in;
  background: #121113;
  z-index: 1;
}
.container .live .video-list-pannel .close-watch-list {
  display: none;
}
@media (max-width: 599px) {
  .container .live .video-list-pannel {
    width: 100%;
    height: 100%;
    top: 10%;
    right: -100%;
  }
  .container .live .video-list-pannel #video-arrow-d {
    display: none;
  }
  .container .live .video-list-pannel #video-arrow-m {
    display: block;
  }
  .container .live .video-list-pannel h4 {
    width: 92%;
    margin: auto;
    padding: 15px 0 15px !important;
  }
  .container .live .video-list-pannel .hide-panel {
    right: -100% !important;
  }
  .container .live .video-list-pannel .close-watch-list {
    position: absolute;
    top: 12px;
    right: 21px;
    display: flex;
  }
  .container .live .video-list-pannel .close-watch-list svg {
    fill: #00a693;
  }
  .container .live .video-list-pannel .toggle-close {
    display: none;
  }
  .container .live .video-list-pannel .toggle-close .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  .container .live .video-list-pannel .toggle-close .line2 {
    opacity: 0;
  }
  .container .live .video-list-pannel .toggle-close .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }
}
.container .live .video-list-pannel h4 {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 20px;
  padding: 15px;
}
.container .live .video-list-pannel .video-arrow {
  cursor: pointer;
}
.container .live .video-list-pannel .video-arrow .VideoLandingPage-arrow-2bsv8 {
  position: absolute;
  background-color: #00a693;
  left: -45px;
  top: 63px;
  width: 45px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 599px) {
  .container .live .video-list-pannel .video-arrow .VideoLandingPage-arrow-2bsv8 {
    left: -47px;
    width: 47px;
    top: 2%;
  }
}
.container .live .video-list-pannel .video-arrow .VideoLandingPage-arrow-2bsv8 svg {
  fill: #fff;
  width: 30px;
}
.container .live .video-list-pannel .video-arrow .VideoLandingPage-arrow-2bsv8:focus {
  outline: none;
}
.container .live .video-list-pannel .channel-list {
  padding: 15px;
  background: #2e2f32;
  width: 100%;
  max-height: 600px;
  overflow-y: scroll;
}
.container .live .video-list-pannel .channel-list .video {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 5px;
  align-items: center;
  cursor: pointer;
}
.container .live .video-list-pannel .channel-list .video:last-child {
  padding-bottom: 10px;
}
.container .live .video-list-pannel .channel-list .video img {
  width: 80px;
  height: 80px;
}
.container .live .video-list-pannel .channel-list .video .description .channel {
  font-size: 14px;
  padding-bottom: 5px;
}
.container .live .video-list-pannel .channel-list .video .description p {
  color: white;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container .live:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(252, 252, 252, 0), black 90%);
  width: 100%;
  height: 4em;
}
.container .live .live-player {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}
.container .live .jw-error {
  background-color: black !important;
}
.container .live .details {
  letter-spacing: 1px;
  text-align: center;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 35%;
  left: 5%;
  width: 500px;
  background-color: rgba(66, 66, 66, 0.52);
  padding: 28px 14px;
  z-index: 1;
}
@media (max-width: 599px) {
  .container .live .details {
    left: 0;
    top: 55%;
    width: 100%;
  }
  .container .live .details p.notice {
    font-size: 16px !important;
  }
  .container .live .details p.headline {
    font-size: 22px !important;
  }
  .container .live .details .video-wrapper {
    padding-bottom: 5px;
  }
  .container .live .details .video-wrapper iframe {
    width: 100%;
    height: 180px;
  }
  .container .live .details .watch-here {
    padding: 10px 12px !important;
    font-size: 12px !important;
  }
}
.container .live .details .content-wrapper p.notice {
  font-size: 32px;
  margin-bottom: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
.container .live .details .content-wrapper p.headline {
  letter-spacing: 0;
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 14px;
}
.container .live .details .content-wrapper p.headline span.source {
  font-style: italic;
  font-size: 18px;
}
.container .live .details button {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  background-color: #00a693;
  cursor: pointer;
}
.container .live .details button:hover {
  color: #00a693;
  background-color: white;
}
.container .live .details .modal-header {
  text-align: right;
}
.container .live .details .modal-header button {
  background-color: transparent;
  text-align: right;
  padding: 5px 10px;
}
.container .top {
  position: relative;
  top: 20px;
  width: 90%;
  margin: auto;
}
.container .top h3 {
  font-weight: normal;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.container .top h4 {
  font-weight: normal;
  font-size: 0.9975rem;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-left: 0px;
}
.container .top .trending {
  color: white;
}
.container .top .trending .now-wrapper {
  position: relative;
}
.container .top .trending .now-wrapper .white-circle {
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: calc(50% - 5px);
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
}
.container .top .trending .now-wrapper .white-circle:hover svg {
  opacity: 1;
}
.container .top .trending .now-wrapper .white-circle svg {
  fill: #313132;
  width: 6px !important;
  opacity: 0.65;
  transition: opacity 0.2s;
}
.container .top .trending .now-wrapper .white-circle .svg-right {
  margin: -2px 12px;
}
.container .top .trending .now-wrapper .white-circle .svg-left {
  margin: -2px 11px;
}
.container .top .trending .now-wrapper .fa-left {
  left: -16px;
}
.container .top .trending .now-wrapper .fa-right {
  right: -16px;
}
.container .top .trending .nows {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 20px;
  height: 200px;
}
.container .top .trending .cards {
  width: 230px;
  position: relative;
}
.container .top .trending .cards .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: all 200ms ease;
}
.container .top .trending .cards .content span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75rem;
}
.container .top .trending .cards .content .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 5px 26px;
}
.container .top .trending .cards .content .items svg {
  font-size: 0.75rem;
  color: gray;
}
.container .top .trending .cards .content:hover {
  opacity: 1;
  background: linear-gradient(180deg, #02002400 0%, #09097900 35%, rgba(0, 0, 0, 0.82) 100%);
}
.container .top .trending .now {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 14px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
}
.container .top .trending .now::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}
.container .top .trending .now:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 166, 147, 0.514);
}
.container .top .trending .hot {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 14px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
}
.container .top .trending .hot::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}
.container .top .trending .hot:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 166, 147, 0.514);
}
.container .top .trending .wow {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 14px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
}
.container .top .trending .wow::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}
.container .top .trending .wow:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 166, 147, 0.514);
}
.container .top .trending .card {
  display: inline-block;
  width: 220px;
  height: 170px;
  margin: 0px 5px;
  background-color: #2e5167;
  border-radius: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 500ms ease-in-out 50ms;
  position: relative;
}
.container .top .trending .card:hover {
  z-index: 1;
}
.container .top .trending .card:hover > div {
  opacity: 1;
}
.container .top .trending .card .card-body {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  transition: opacity 300ms ease;
  background: linear-gradient(180deg, #02002400 0%, #09097900 35%, rgba(0, 0, 0, 0.82) 100%);
  opacity: 0;
  bottom: -15px;
  padding: 0 5px;
}
@media (max-width: 599px) {
  .container .top .trending .card .card-body {
    opacity: 1;
  }
}
.container .top .trending .card .card-body .items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.container .top .trending .card .card-body .items p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #fff;
  padding-bottom: 7px;
}
.container .top .trending .card .card-body .items .action {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.container .top .trending .card .card-body .items .action .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  outline: none;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: #f3f3f4;
  height: 30px;
  width: 30px;
}
.container .top .trending .card .card-body .items .action .btn svg {
  color: #6e6d7a;
}
.container .top .trending .card .card-body .items .action .btn svg.active {
  color: #ff00ffa6 !important;
}
.container .top .trending .card .card-body .items .action .btn:hover {
  background: #e7e7e9;
}
.container .top .watch {
  color: white;
}
.container .top .watch .now-wrapper {
  position: relative;
}
.container .top .watch .now-wrapper .white-circle {
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: calc(50% - 5px);
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
}
.container .top .watch .now-wrapper .white-circle:hover svg {
  opacity: 1;
}
.container .top .watch .now-wrapper .white-circle svg {
  fill: #313132;
  width: 6px !important;
  opacity: 0.65;
  transition: opacity 0.2s;
}
.container .top .watch .now-wrapper .white-circle .svg-right {
  margin: -2px 12px;
}
.container .top .watch .now-wrapper .white-circle .svg-left {
  margin: -2px 11px;
}
.container .top .watch .now-wrapper .fa-left {
  left: -16px;
}
.container .top .watch .now-wrapper .fa-right {
  right: -16px;
}
.container .top .watch .wrapper {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 9px;
  padding-top: 9px;
}
.container .top .watch .wrapper::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}
.container .top .watch .wrapper:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 166, 147, 0.514);
}
.container .top .watch .card {
  display: inline-block;
  width: 250px;
  height: 350px;
  margin: 0px 5px;
  background-color: #0377be;
  border-radius: 5px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: all 800ms ease 0ms;
  cursor: pointer;
  position: relative;
}
.container .top .watch .card div {
  opacity: 0;
  padding-top: 95%;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: opacity 300ms ease;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62%, transparent), color-stop(63.94%, rgba(0, 0, 0, 0.00345888)), color-stop(65.89%, rgba(0, 0, 0, 0.014204)), color-stop(67.83%, rgba(0, 0, 0, 0.0326639)), color-stop(69.78%, rgba(0, 0, 0, 0.0589645)), color-stop(71.72%, rgba(0, 0, 0, 0.0927099)), color-stop(73.67%, rgba(0, 0, 0, 0.132754)), color-stop(75.61%, rgba(0, 0, 0, 0.177076)), color-stop(77.56%, rgba(0, 0, 0, 0.222924)), color-stop(79.5%, rgba(0, 0, 0, 0.267246)), color-stop(81.44%, rgba(0, 0, 0, 0.30729)), color-stop(83.39%, rgba(0, 0, 0, 0.341035)), color-stop(85.33%, rgba(0, 0, 0, 0.367336)), color-stop(87.28%, rgba(0, 0, 0, 0.385796)), color-stop(89.22%, rgba(0, 0, 0, 0.396541)), color-stop(91.17%, rgba(0, 0, 0, 0.4)));
  background: linear-gradient(180deg, transparent 62%, rgba(0, 0, 0, 0.00345888) 63.94%, rgba(0, 0, 0, 0.014204) 65.89%, rgba(0, 0, 0, 0.0326639) 67.83%, rgba(0, 0, 0, 0.0589645) 69.78%, rgba(0, 0, 0, 0.0927099) 71.72%, rgba(0, 0, 0, 0.132754) 73.67%, rgba(0, 0, 0, 0.177076) 75.61%, rgba(0, 0, 0, 0.222924) 77.56%, rgba(0, 0, 0, 0.267246) 79.5%, rgba(0, 0, 0, 0.30729) 81.44%, rgba(0, 0, 0, 0.341035) 83.39%, rgba(0, 0, 0, 0.367336) 85.33%, rgba(0, 0, 0, 0.385796) 87.28%, rgba(0, 0, 0, 0.396541) 89.22%, rgba(0, 0, 0, 0.4) 91.17%);
}
@media (max-width: 599px) {
  .container .top .watch .card div {
    opacity: 1;
  }
}
.container .top .watch .card div:hover {
  opacity: 1;
}
.container .top .watch .card div .programChannel_num {
  font-size: 74px;
  line-height: 1;
  color: white;
}
.container .top .watch .card div .programTitle {
  font-size: 25px;
  background-color: #3da991f5;
  color: white;
  padding-left: 10px;
}
.container .top .explore {
  color: white;
  padding-bottom: 14px;
  margin-bottom: 80px;
}
.container .top .explore .now-wrapper {
  position: relative;
}
.container .top .explore .now-wrapper .white-circle {
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: calc(50% - 5px);
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
}
.container .top .explore .now-wrapper .white-circle:hover svg {
  opacity: 1;
}
.container .top .explore .now-wrapper .white-circle svg {
  fill: #313132;
  width: 6px !important;
  opacity: 0.65;
  transition: opacity 0.2s;
}
.container .top .explore .now-wrapper .white-circle .svg-right {
  margin: -2px 12px;
}
.container .top .explore .now-wrapper .white-circle .svg-left {
  margin: -2px 11px;
}
.container .top .explore .now-wrapper .fa-left {
  left: -16px;
}
.container .top .explore .now-wrapper .fa-right {
  right: -16px;
}
.container .top .explore .wrapper {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.container .top .explore .wrapper::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}
.container .top .explore .wrapper:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 166, 147, 0.514);
}
.container .top .explore .wrapper .card {
  display: inline-block;
  width: 150px;
  height: 180px;
  margin: 0px 5px 5px 5px;
  background-color: #0377be;
  border-radius: 5px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #353535;
  transition: all 500ms ease-in-out 50ms;
  position: relative;
}
.container .top .explore .wrapper .card:hover {
  cursor: pointer;
  transform: scale(1.2);
  z-index: 1;
}
.container .top .explore .wrapper .card:hover > div .category-desc {
  margin-bottom: 0px;
}
.container .top .explore .wrapper .card div {
  position: absolute;
  flex-direction: column;
  transition: all 800ms ease 0ms;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container .top .explore .wrapper .card div .category-name {
  font-size: 22px;
  white-space: break-spaces;
}
.container .top .explore .wrapper .card div .category-desc {
  background-color: #205f51e0;
  display: none;
}
.container .category-channel {
  position: relative;
  color: #ffffff;
  width: 90%;
  padding-bottom: 100px;
  margin: auto;
  min-height: 100vh;
}
.container .category-channel h3 {
  font-weight: 400;
  font-size: 18px;
}
.container .category-channel h3 a {
  text-decoration: none;
  color: white;
}
.container .category-channel h3 a:hover {
  color: #009688;
}
.container .category-channel .wrapper-channel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.6rem, 1fr));
  gap: 0.79rem;
  grid-row-gap: 1.7rem;
  margin-top: 20px;
}
@media (max-width: 599px) {
  .container .category-channel .wrapper-channel {
    grid-template-columns: repeat(auto-fill, minmax(40%, 0.5fr));
  }
}
.container .category-channel .wrapper-channel .card {
  cursor: pointer;
}
.container .category-channel .wrapper-channel .card .thumbnail {
  height: 12.5rem;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  position: relative;
}
@media (max-width: 599px) {
  .container .category-channel .wrapper-channel .card .thumbnail {
    height: 9.2rem;
  }
}
.container .category-channel .wrapper-channel .card .thumbnail img {
  height: 100%;
  width: 100%;
}
.container .category-channel .wrapper-channel .card .thumbnail::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background: transparent;
  transition: all 200ms ease;
}
.container .category-channel .wrapper-channel .card .thumbnail:hover::after {
  filter: alpha(opacity=50);
  opacity: 0.8;
  background: #00ffff30;
}
.container .category-channel .wrapper-channel .card .content {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
.container .category-channel .wrapper-channel .card .content h2 {
  font-size: 0.87422rem;
  font-weight: 500;
  letter-spacing: 0.0278rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}
.container .category-channel .wrapper-channel .card .content .action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.container .category-channel .wrapper-channel .card .content .action button {
  margin-top: 2px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: #949cb038;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  font-size: 10px;
}
.container .category-channel .wrapper-channel .card .content .action button svg {
  color: #f1f1f1d6;
}
.container .category-channel .wrapper-channel .card .content .action button:focus {
  outline: none;
}
.container .category-channel .wrapper-channel .card .content .action button:hover {
  background: #eeeeee2b;
}
.container .category-channel .play-channel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 150px;
}
.container .read {
  color: black;
  background-color: #ffffff;
  position: relative;
  top: -50px;
}
.container .read .read-wrapper {
  width: 90%;
  margin: auto;
  padding: 50px 0 50px;
}
@media (max-width: 599px) {
  .container .read .read-wrapper {
    padding: 50px 0 50px;
  }
}
.container .read .read-wrapper h3 {
  font-weight: normal;
  font-size: 0.9975rem;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
}
.container .read .read-wrapper li {
  cursor: pointer;
  list-style: none;
  padding: 5px 14px 5px 0;
}
.container .read .read-wrapper li.active a, .container .read .read-wrapper li:hover a {
  color: #00a693;
}
.container .read .read-wrapper a {
  text-decoration: none;
  color: black;
  font-size: 0.9975rem;
}
.container .read .read-wrapper .wrapper {
  display: flex;
  width: 100%;
}
@media (max-width: 599px) {
  .container .read .read-wrapper .wrapper {
    display: inline;
  }
}
.container .read .read-wrapper .wrapper .category {
  width: 15%;
}
@media (max-width: 599px) {
  .container .read .read-wrapper .wrapper .category {
    width: 100%;
    padding-bottom: 30px;
  }
}
.container .read .read-wrapper .read-content {
  width: 100%;
}
.container .read .read-wrapper .read-content .card {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  flex-direction: inherit;
  gap: 30px;
  margin-bottom: 50px;
}
@media (max-width: 599px) {
  .container .read .read-wrapper .read-content .card {
    flex-direction: column;
  }
}
.container .read .read-wrapper .read-content .card .image {
  width: 360px;
  height: 200px;
  cursor: pointer;
  position: relative;
}
@media (max-width: 599px) {
  .container .read .read-wrapper .read-content .card .image {
    width: 100%;
    height: 100%;
  }
}
.container .read .read-wrapper .read-content .card .image img {
  width: 100%;
  height: 100%;
}
.container .read .read-wrapper .read-content .card .image .source-content {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 5px;
}
.container .read .read-wrapper .read-content .card .image .source-content p {
  font-size: 12px;
  font-weight: 400;
}
.container .read .read-wrapper .read-content .card .image .source-content .source-logo {
  height: 40px;
  width: 50px;
}
.container .read .read-wrapper .read-content .card .image .source-content .source-logo .source-logo {
  width: 100%;
  height: 100%;
}
.container .read .read-wrapper .read-content .card .details {
  flex: 1;
}
.container .read .read-wrapper .read-content .card .details h3 {
  font-weight: 600;
  cursor: pointer;
  font-size: 1.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: inherit;
}
.container .read .read-wrapper .read-content .card .details h3:hover {
  color: #00a693;
}
.container .read .read-wrapper .read-content .card .details .posted {
  font-size: 0.75rem;
  font-weight: 400;
  color: #949cb0;
  font-style: italic;
}
.container .read .read-wrapper .read-content .card .details .verified {
  margin-left: 10px;
  border-radius: 108px;
  padding: 2px 7px;
  color: #ffffff;
  background-color: #00a693;
  font-size: 0.75rem;
  font-weight: 300;
}
.container .read .read-wrapper .read-content .card .details .source {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.container .read .read-wrapper .read-content .card .details .source p {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #949cb0;
}
.container .read .read-wrapper .read-content .card .details .source .image {
  height: 30px;
  width: 50px;
}
.container .read .read-wrapper .read-content .card .details .source .image img.source-logo {
  width: 100%;
  height: 100%;
}
.container .read .read-wrapper .read-content .card .details .source .action {
  flex: 1;
  gap: 5px;
  display: flex;
}
.container .read .read-wrapper .read-content .card .details .source .action button {
  margin-top: 2px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: #949cb038;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  font-size: 0.75rem;
}
.container .read .read-wrapper .read-content .card .details .source .action button svg {
  color: gray;
}
.container .read .read-wrapper .read-content .card .details .source .action button:focus {
  outline: none;
}
.container .read .read-wrapper .read-content .card .details .source .action button:hover {
  background: #dddfea;
}
.container .read .read-wrapper .read-content .card .details .description {
  margin-top: 15px;
  display: block;
  font-size: 0.9975rem;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.container .local {
  color: white;
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}
.container .local .now-wrapper {
  position: relative;
}
.container .local .now-wrapper .white-circle {
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: calc(50% - 5px);
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
}
.container .local .now-wrapper .white-circle:hover svg {
  opacity: 1;
}
.container .local .now-wrapper .white-circle svg {
  fill: #313132;
  width: 6px !important;
  opacity: 0.65;
  transition: opacity 0.2s;
}
.container .local .now-wrapper .white-circle .svg-right {
  margin: -2px 12px;
}
.container .local .now-wrapper .white-circle .svg-left {
  margin: -2px 11px;
}
.container .local .now-wrapper .fa-left {
  left: -16px;
}
.container .local .now-wrapper .fa-right {
  right: -16px;
}
.container .local h3 {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.container .local h4 {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 14px;
}
.container .local .filter {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0px auto;
  width: 80%;
  /* Extra small devices (phones, 600px and down) */
}
.container .local .filter a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 599px) {
  .container .local .filter {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
.container .local .related-videos {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 14px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
}
.container .local .related-videos::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}
.container .local .related-videos:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 166, 147, 0.514);
}
.container .local .card {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 170px;
  margin: 0px 5px;
  background-color: #2e5167;
  border-radius: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 500ms ease-in-out 50ms;
}
.container .local .card:hover {
  z-index: 1;
}
.container .local .card .card-body {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  transition: opacity 300ms ease;
  background: linear-gradient(180deg, #02002400 0%, #09097900 35%, rgba(0, 0, 0, 0.82) 100%);
  opacity: 0;
  bottom: -15px;
  padding: 0 5px;
}
@media (max-width: 599px) {
  .container .local .card .card-body {
    opacity: 1;
  }
}
.container .local .card .card-body .items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.container .local .card .card-body .items p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #fff;
  padding-bottom: 7px;
}
.container .local .card .card-body .items .action {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.container .local .card .card-body .items .action .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  outline: none;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: #f3f3f4;
  height: 30px;
  width: 30px;
}
.container .local .card .card-body .items .action .btn svg {
  color: #6e6d7a;
}
.container .local .card .card-body .items .action .btn svg.active {
  color: #ff00ffa6 !important;
}
.container .local .card .card-body .items .action .btn:hover {
  background: #e7e7e9;
}
.container .local .card:hover > div {
  opacity: 1;
}

.mainPlayerDiv {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  /**
   * Kenneth
   * 20201029
   */
  /**
   * End Kenneth
   */
}
.mainPlayerDiv .view-article {
  background-color: white;
  width: 100%;
  margin: auto;
  overflow: scroll;
  padding: 100px 5%;
  height: 100vh;
}
@media (max-width: 599px) {
  .mainPlayerDiv .view-article {
    padding: 0;
    display: block;
    height: 90vh;
  }
}
.mainPlayerDiv .view-article .header h3 {
  font-size: 1.3rem;
}
@media (max-width: 599px) {
  .mainPlayerDiv .view-article .header h1 {
    font-size: large;
  }
}
.mainPlayerDiv .view-article .header div {
  font-size: small;
  display: flex;
}
@media (max-width: 599px) {
  .mainPlayerDiv .view-article .header div {
    display: contents;
  }
}
.mainPlayerDiv .view-article .header div .verified {
  border: 1px solid #00800000;
  border-radius: 108px;
  padding: 2px 7px;
  color: #ffffff;
  background-color: #00a693;
}
.mainPlayerDiv .view-article .header div .posted {
  padding: 4px 0px 0px 10px;
}
.mainPlayerDiv .view-article .banner {
  text-align: center;
  padding: 20px 0;
}
.mainPlayerDiv .view-article .banner .source {
  padding: 19px;
  display: table;
  position: relative;
  bottom: 122px;
  background-color: #ffffff61;
}
@media (max-width: 599px) {
  .mainPlayerDiv .view-article .banner .source {
    bottom: 0px;
  }
}
.mainPlayerDiv .view-article .banner .source img {
  height: 50px;
}
.mainPlayerDiv .view-article .banner .source span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
.mainPlayerDiv .view-article .action {
  width: 100%;
  text-align: center;
}
.mainPlayerDiv .view-article .action a {
  padding: 50px;
  display: block;
  width: 100%;
}
.mainPlayerDiv .view-article .action a .icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 30px;
  -webkit-animation: iconScroll 1s;
  -webkit-animation: iconScroll 1s;
  animation: iconScroll 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.mainPlayerDiv .view-article .action a button {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Roboto, Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgba(0, 0, 0, 0);
  line-height: 1.75;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 500ms, -webkit-transform 1ms;
  -webkit-transition: all 500ms, transform 1ms;
  transition: all 500ms, transform 1ms;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 30px;
  width: 270px;
  border: 1px solid #a5dad5;
  color: #00a693;
}
@media (max-width: 599px) {
  .mainPlayerDiv .view-article .action a button {
    width: auto;
  }
}
.mainPlayerDiv .backButton {
  position: absolute;
  top: 160px;
  right: 5%;
}
.mainPlayerDiv .backButton button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.hideMainPlayerDiv {
  opacity: 0;
  pointer-events: none;
}

.showMainPlayerDiv {
  opacity: 1;
  pointer-events: all;
}

.loginDivHide {
  display: none;
}

.loginDivShow {
  display: block;
}

.loginDiv {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000bf;
}
.loginDiv .form-area {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginDiv .form-area .wrapper {
  width: 365px;
  padding: 20px;
  /* margin: 20px; */
  border: 1px solid #d8dde6;
  border-radius: 5px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.loginDiv .form-area .wrapper h1 {
  margin-bottom: 28px;
  color: #54698d;
  font-size: 24px;
}
.loginDiv .form-area .wrapper .form-wrapper * {
  display: block;
  width: 100%;
}
.loginDiv .form-area .wrapper .form-wrapper a {
  text-decoration: none;
  display: unset;
  width: unset;
}
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper {
  margin-bottom: 16px;
  padding: 0;
}
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper label {
  color: #54698d;
  margin-bottom: 8px;
  font-size: 13px;
}
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper .text-left {
  display: unset;
}
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper .error {
  color: #dc3545;
}
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper input.error {
  border-color: #dc3545;
}
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper input {
  outline: none;
  color: #54698d;
  /* margin-bottom: 16px; */
  padding: 12px;
  font-size: 0.8125rem;
  background-color: transparent;
  border: 1px solid #868686;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper input[type=checkbox] {
  display: unset;
  width: unset;
}
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper .login-button,
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper .register-btn {
  color: white;
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 16px 0px;
  cursor: pointer;
  background-color: #00a693;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper input[type=submit]:disabled {
  background-color: #00a693b3;
}
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper .text-center {
  text-align: center;
}
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper .text-center span {
  font-size: 12px;
}
.loginDiv .form-area .wrapper .form-wrapper .input-wrapper .text-center a {
  font-weight: 700;
  font-size: 12px;
  color: #00a693;
}
.loginDiv .form-area .wrapper .alert {
  background-color: #d4edda;
  border-color: #c3e6cb;
  width: 100%;
  padding: 10px;
}
.loginDiv .form-area .wrapper .alert h3 {
  font-size: 14px;
  color: #155724;
  font-weight: 400;
}
.loginDiv .form-area .wrapper .alert a {
  color: #00a693;
  font-size: 12px;
}

.show {
  right: 0 !important;
}

#profileLinks {
  line-height: 70px;
}
#profileLinks .dropdown {
  float: left;
  margin-right: 10px;
  color: white;
}
#profileLinks .dropdown a.photo {
  padding: 5px;
  border-radius: 20px;
  background-image: linear-gradient(#00a693, #d0dd37);
  text-shadow: 1px 1px black;
}
#profileLinks .dropdown svg {
  transition: all 200ms ease-in;
}
#profileLinks .dropdown-content {
  visibility: hidden;
  position: absolute;
  background: #0c0e17;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 115px;
  top: 80px;
  transition: all 200ms ease-in;
  opacity: 0;
}
@media (max-width: 599px) {
  #profileLinks .dropdown-content {
    width: 100%;
    right: 0;
    right: -1000px;
    flex-direction: column;
    align-items: center;
    top: 67px !important;
  }
}
#profileLinks .dropdown-content a {
  float: none;
  color: #fff;
  padding: 18px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: all 200ms ease-in;
}
@media (max-width: 599px) {
  #profileLinks .dropdown-content a {
    padding: 2rem 5%;
    line-height: 0;
  }
}
#profileLinks .dropdown-content a:hover {
  text-shadow: none;
  color: #009688;
}
#profileLinks #profileLinks:hover svg,
#profileLinks .dropdown:hover svg {
  transform: rotateZ(180deg);
}
#profileLinks #profileLinks:hover .dropdown-content,
#profileLinks .dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  top: 74px;
}

.profileDiv {
  display: none;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000bf;
}
.profileDiv .form-area {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileDiv .form-area .wrapper {
  width: 600px;
  padding: 20px;
  /* margin: 20px; */
  border: 1px solid #d8dde6;
  border-radius: 5px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: scroll;
  height: inherit;
  /* The Close Button */
}
.profileDiv .form-area .wrapper .header {
  display: flex;
}
.profileDiv .form-area .wrapper .header h1 {
  margin-bottom: 28px;
  color: #54698d;
  font-size: 24px;
}
.profileDiv .form-area .wrapper .header .clear {
  background-color: #277766;
  padding: 0px 10px;
  margin: 5px 5px 35px 14px;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}
.profileDiv .form-area .wrapper .header .clear:hover {
  background-color: #33a189;
}
.profileDiv .form-area .wrapper .close {
  position: relative;
  top: -60px;
  float: right;
}
.profileDiv .form-area .wrapper .close span {
  /*color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  */
  background-color: #009688;
  border: none;
  color: white;
  padding: 0px 5px;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  cursor: pointer;
  outline: none;
}
.profileDiv .form-area .wrapper .close span:hover, .profileDiv .form-area .wrapper .close span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.profileDiv .form-area .wrapper #profile * {
  display: block;
  width: 100%;
}
.profileDiv .form-area .wrapper #profile a {
  text-decoration: none;
  display: unset;
  width: unset;
}
.profileDiv .form-area .wrapper #profile .message {
  color: white;
  border-radius: 10px;
  padding: 3px 10px;
  margin-bottom: 20px;
  display: none;
}
.profileDiv .form-area .wrapper #profile .msg-success {
  background-color: #03dc03;
  border: green solid 2px;
}
.profileDiv .form-area .wrapper #profile .msg-error {
  background-color: #dc0303;
  border: maroon solid 2px;
}
.profileDiv .form-area .wrapper #profile .hidden {
  display: none;
}
.profileDiv .form-area .wrapper #profile .input-wrapper {
  margin-bottom: 16px;
}
.profileDiv .form-area .wrapper #profile .input-wrapper .photo {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  text-align: center;
  color: white;
  vertical-align: middle;
  margin: auto;
  padding: 64px 0px;
  background-image: linear-gradient(#00a693, #d0dd37);
  text-shadow: 3px 3px black;
  box-shadow: 1px 1px 8px black;
  overflow: hidden;
  cursor: context-menu;
}
.profileDiv .form-area .wrapper #profile .input-wrapper .photo .text {
  font-size: xxx-large;
  font-weight: bold;
}
.profileDiv .form-area .wrapper #profile .input-wrapper .photo .text:empty {
  height: 70px;
}
.profileDiv .form-area .wrapper #profile .input-wrapper .photo .change {
  background-color: #00000078;
  position: relative;
  /* bottom: -24px; */
  /* width: 200px; */
  padding: 8px 17px;
  top: 70px;
  cursor: pointer;
}
.profileDiv .form-area .wrapper #profile .input-wrapper .photo:hover .change {
  top: 25px;
}
.profileDiv .form-area .wrapper #profile .input-wrapper label {
  color: #54698d;
  margin-bottom: 8px;
  font-size: 13px;
}
.profileDiv .form-area .wrapper #profile .input-wrapper input {
  outline: none;
  color: #54698d;
  /* margin-bottom: 16px; */
  padding: 12px;
  font-size: 0.8125rem;
  background-color: transparent;
  border: 1px solid #868686;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.profileDiv .form-area .wrapper #profile .input-wrapper input:-moz-read-only {
  border: none;
}
.profileDiv .form-area .wrapper #profile .input-wrapper input:read-only {
  border: none;
}
.profileDiv .form-area .wrapper #profile .input-wrapper .profile-button {
  color: white;
  padding: 16px 0px;
  cursor: pointer;
  background-color: #00a693;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin: 24px 20px 16px 20px;
  border: solid;
}
.profileDiv .form-area .wrapper #profile .input-wrapper cancel-button {
  background-color: white;
  color: #00a693;
}
.profileDiv .form-area .wrapper #profile .button {
  display: inline-flex;
}
.profileDiv .form-area .wrapper .card {
  display: inline-block;
  width: 160px;
  height: 250px;
  margin: 5px;
  background-color: #0377be;
  border-radius: 5px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: all 800ms ease 0ms;
  cursor: pointer;
}
.profileDiv .form-area .wrapper .card:hover {
  transform: scale(1.05);
  z-index: 1;
  box-shadow: 0px 0px 10px #737373;
}
.profileDiv .form-area .wrapper .card:hover > div {
  bottom: 0px;
}
.profileDiv .form-area .wrapper .card div {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -350px;
  transition: all 800ms ease 0ms;
  color: black;
}
@media (max-width: 599px) {
  .profileDiv .form-area .wrapper .card div {
    bottom: 0;
  }
}
.profileDiv .form-area .wrapper .card div .programChannel_num {
  font-size: 20px;
  line-height: 1;
  color: white;
  text-shadow: 0 0 20px black;
  background-color: #b1b1b194;
  padding: 5px 0;
}
.profileDiv .form-area .wrapper .card div .programTitle {
  font-size: 12px;
  background-color: #3da991f5;
  color: white;
  text-shadow: 0 0 5px black;
  padding-left: 10px;
  background-color: #205f51e0;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100px;
  width: 100%;
  transition: all 800ms;
}

.profile-container {
  background: #ffffff;
  padding: 30px 0;
  padding-top: 120px;
  min-height: 100vh;
}
.profile-container .profile-wrapper {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (max-width: 599px) {
  .profile-container .profile-wrapper {
    width: 90%;
  }
}
.profile-container .profile-wrapper .title {
  display: flex;
  align-items: baseline;
  padding-bottom: 20px;
  width: 100%;
}
@media (max-width: 599px) {
  .profile-container .profile-wrapper .title {
    flex-direction: column;
  }
}
.profile-container .profile-wrapper .title .logged {
  flex: 0.5;
  color: #00a693;
  font-size: 12px;
}
.profile-container .profile-wrapper .title .logged span {
  font-weight: 600;
}
.profile-container .profile-wrapper .title h2 {
  padding: 0;
}
.profile-container .profile-wrapper .close {
  position: absolute;
  right: 0;
  top: -10px;
}
.profile-container .profile-wrapper .close:hover {
  background: rgba(128, 128, 128, 0.1);
  border-radius: 5px;
}
.profile-container .profile-wrapper .close svg {
  fill: #0ab39f;
}
.profile-container .profile-wrapper h2 {
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #202124;
  padding-bottom: 20px;
  padding-left: 25px;
}
@media (max-width: 599px) {
  .profile-container .profile-wrapper h2 {
    padding-left: 25px;
  }
}
.profile-container .profile-wrapper .card {
  border: 1px solid #dadce0;
  padding-top: 25px;
  margin-bottom: 20px;
}
@media (max-width: 599px) {
  .profile-container .profile-wrapper .card {
    display: block;
    width: 100%;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .profile-container .profile-wrapper .card {
    width: 100%;
    display: block;
  }
}
.profile-container .profile-wrapper .card .border-top {
  border-top: 1px solid #dadce0;
}
.profile-container .profile-wrapper .card .divider {
  position: relative;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  cursor: pointer;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 25px;
}
@media (max-width: 599px) {
  .profile-container .profile-wrapper .card .divider {
    height: 100px;
  }
}
.profile-container .profile-wrapper .card .divider svg {
  font-size: 1em;
  cursor: pointer;
  color: gray;
}
.profile-container .profile-wrapper .card .divider .edit {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}
.profile-container .profile-wrapper .card .divider:hover {
  background: #f8f8f8;
}
.profile-container .profile-wrapper .card .divider .text-desc {
  letter-spacing: 0.01428571em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #5f6368;
}
@media (max-width: 599px) {
  .profile-container .profile-wrapper .card .divider .text-desc {
    white-space: nowrap;
  }
}
.profile-container .profile-wrapper .card .divider .photo-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  cursor: pointer;
}
.profile-container .profile-wrapper .card .divider .photo-wrapper .photo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #00a693;
  overflow: hidden;
  position: relative;
}
.profile-container .profile-wrapper .card .divider .photo-wrapper .photo h2 {
  font-size: 26px;
  font-weight: 400;
  padding: 0;
  padding-top: 12px;
  text-align: center;
  color: #ffffff;
}
.profile-container .profile-wrapper .card .divider .photo-wrapper .photo .photo-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 33%;
  background: rgba(32, 33, 36, 0.6);
  text-align: center;
}
.profile-container .profile-wrapper .card .divider .photo-wrapper .photo .photo-icon svg {
  padding-bottom: 2px;
  color: #ffffff;
}
.profile-container .profile-wrapper .card .divider h3 {
  letter-spacing: 0.07272727em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #5f6368;
}
.profile-container .profile-wrapper .card .divider .text {
  flex-basis: 250px;
  letter-spacing: 0.00625em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #202124;
  text-transform: uppercase;
}
@media (max-width: 599px) {
  .profile-container .profile-wrapper .card .divider .text {
    white-space: nowrap;
  }
}
@media (min-width: 600px) {
  .profile-container .profile-wrapper .card .divider .text {
    flex-basis: 150px;
    white-space: nowrap;
  }
}
@media (min-width: 900px) {
  .profile-container .profile-wrapper .card .divider .text {
    flex-basis: 250px;
  }
}
@media (max-width: 599px) {
  .profile-container .profile-wrapper .card .divider .text-mobile {
    position: absolute;
    top: 20px;
  }
}
.profile-container .profile-wrapper .card .divider .pass {
  letter-spacing: 0.00625em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #202124;
}
@media (max-width: 599px) {
  .profile-container .profile-wrapper .card .divider .pass {
    white-space: nowrap;
  }
}

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border: 2px solid #eee;
  transition: all 0.2s ease;
  user-select: none;
}
.uploader label:hover {
  border-color: #00a69369;
}
.uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: 0.5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type=file] {
  display: none;
}
.uploader div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block !important;
}

.btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 200ms ease-in-out;
  box-sizing: border-box;
  background: #0ab39f;
  border: none;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.4;
}

.btn {
  margin: 20px 0 0;
}
.btn:hover {
  background: #009688;
}

.cancel {
  background: #ffffff;
  color: #202124;
  border: 1px solid #33a189;
}
.cancel:hover {
  background: #0ab39f;
  color: #fff;
}

.frm {
  display: block;
  flex-direction: column;
}
.frm .input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0;
  gap: 0;
}
.frm .input-wrapper label {
  color: #54698d;
  margin-bottom: 10px;
  font-size: 13px;
}
.frm .input-wrapper .input {
  outline: none;
  color: #54698d;
  /* margin-bottom: 16px; */
  padding: 12px;
  font-size: 0.8125rem;
  background-color: transparent;
  border: 1px solid #868686;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  width: 100%;
}

.read-promp-section {
  color: #0e0d12;
  width: 100%;
  background: #fff;
  padding-top: 130px;
}
.read-promp-section .article {
  width: 70%;
  margin: auto;
}
@media (max-width: 599px) {
  .read-promp-section .article {
    width: 90%;
  }
}
.read-promp-section .article .header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.read-promp-section .article .header h3 {
  font-weight: 600;
  cursor: pointer;
  font-size: 1.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: inherit;
  color: #0c0e17;
  flex: 0.8;
  margin-bottom: 30px;
  line-height: normal;
}
@media (max-width: 599px) {
  .read-promp-section .article .header h3 {
    flex: auto;
    font-size: 18px;
  }
}
.read-promp-section .article .header span.close {
  cursor: pointer;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
}
.read-promp-section .article .header span.close svg {
  fill: #0ab39f;
}
.read-promp-section .article .header span.close:hover {
  background: rgba(128, 128, 128, 0.1);
  border-radius: 5px;
}
.read-promp-section .article .article-body {
  display: block;
}
.read-promp-section .article .article-body .banner {
  width: 100%;
  height: 550px;
  position: relative;
}
@media (max-width: 599px) {
  .read-promp-section .article .article-body .banner {
    height: 200px;
  }
}
.read-promp-section .article .article-body .banner img {
  width: 100%;
  height: 100%;
}
.read-promp-section .article .article-body .banner .source {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 45px;
}
.read-promp-section .article .article-body .content {
  padding-top: 30px;
}
.read-promp-section .article .article-body .content p {
  margin-top: 15px;
  display: block;
  font-size: 0.9975rem;
  font-weight: 300;
}
.read-promp-section .article .article-body .action {
  width: 100%;
  text-align: center;
}
.read-promp-section .article .article-body .action a {
  padding: 50px;
  display: block;
  width: 100%;
}
.read-promp-section .article .article-body .action a .icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 30px;
  -webkit-animation: iconScroll 1s;
  -webkit-animation: iconScroll 1s;
  animation: iconScroll 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.read-promp-section .article .article-body .action a button {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Roboto, Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgba(0, 0, 0, 0);
  line-height: 1.75;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 500ms, -webkit-transform 1ms;
  -webkit-transition: all 500ms, transform 1ms;
  transition: all 500ms, transform 1ms;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 30px;
  width: 270px;
  border: 1px solid #a5dad5;
  color: #00a693;
}
@media (max-width: 599px) {
  .read-promp-section .article .article-body .action a button {
    width: auto;
  }
}

/*# sourceMappingURL=index.css.map */
