body {
  font-family: "Poppins", sans-serif;
  background: #0e0d12;
  position: relative;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #00a693 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgba(0, 166, 147, 0.514);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #00a693;
}

.d-n {
  display: none;
}

.container {
  width: 100%;
  color: #ffffff;
}

.row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

.pt-150 {
  padding-top: 150px;
}

/* start - junrel - 10/30/2020
	preloader 
*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* end preloader*/
/* start junrel - 11/06/2020 */
/* start junrel - 11/06/2020
 * watch suggested 
*/
/* end junrel */
.input-wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
}
.input-wrapper .input {
  width: 90%;
  border: none;
  background: #fafafa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 599px) {
  .input-wrapper .input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.input-wrapper .input.valid {
  border: 1px solid #0ab39f !important;
}
.input-wrapper .input.error {
  border: 1px solid #dc3545 !important;
}
.input-wrapper label.error {
  color: #dc3545 !important;
}
.input-wrapper .input:focus,
.input-wrapper .btn:focus {
  outline: none;
}
.input-wrapper .btn {
  border: none;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  color: #00a693;
}

body {
  background-image: url("../images/Watch NOWNa BG Image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.text-center {
  text-align: center !important;
  margin-top: 10px;
}
.text-center span {
  font-size: 12px;
  color: #54698d;
  font-weight: 400;
}
.text-center a {
  font-size: 12px;
  font-weight: 700;
  color: #00a693;
}

.mt-24 {
  margin-top: 24px !important;
}

main {
  width: 90%;
  margin: auto;
  color: #ffffff;
  height: 100vh;
  position: relative;
}
main .login-section {
  width: 100%;
}
main .login-section .logo-area {
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 15vh;
}
@media (max-width: 599px) {
  main .login-section .logo-area {
    height: 12vh;
  }
}
main .login-section .logo-area img {
  height: 100%;
}
main .login-section .logo-area p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}
@media (max-width: 599px) {
  main .login-section .logo-area p {
    font-size: 18px;
  }
}
main .login-section .form-area {
  margin-top: 2rem;
  width: 100%;
}
main .login-section .form-area .wrapper {
  background: #ffffff;
  padding: 20px;
  width: 380px;
  border-radius: 4px;
}
@media (max-width: 599px) {
  main .login-section .form-area .wrapper {
    width: auto;
  }
}
main .login-section .form-area .wrapper h1 {
  font-size: 24px;
  font-weight: 500;
  color: #54698d;
}
main .login-section .form-area .wrapper form {
  display: flex;
  flex-direction: column;
}
main .login-section .form-area .wrapper form .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
}
main .login-section .form-area .wrapper form .input-wrapper label {
  color: #54698d;
  margin-bottom: 10px;
  font-size: 13px;
  margin-top: 15px;
}
main .login-section .form-area .wrapper form .input-wrapper input {
  outline: none;
  color: #54698d;
  /* margin-bottom: 16px; */
  padding: 12px;
  font-size: 0.8125rem;
  background-color: transparent;
  border: 1px solid #868686;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
main .login-section .form-area .wrapper form .input-wrapper button {
  color: white;
  padding: 12px 0px;
  cursor: pointer;
  background-color: #00a693;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}
main .login-section .form-area .wrapper form .input-wrapper input[type=checkbox] {
  display: unset;
  width: unset;
}
main .login-section .form-area .wrapper form .input-wrapper a {
  text-decoration: none;
}
main .login-section .form-area .wrapper form .input-wrapper a:hover {
  color: #00a693;
}
main .footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .footer .devices {
  display: flex;
}
main .footer .devices img {
  height: 30px;
  width: 30px;
}

/*# sourceMappingURL=login.css.map */
