header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
header:hover {
  background-color: black;
}
@media only screen and (max-width: 600px) {
  header {
    background-color: black;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}
header nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header nav .logo img {
  width: 100px;
  margin-right: 14px;
}
header nav .nav-links {
  display: flex;
  flex: 0.4;
  justify-content: space-around;
  align-items: center;
}
header nav li {
  list-style: none;
  cursor: pointer;
}
header nav li a {
  text-decoration: none;
  color: white;
}
header nav li a:hover {
  text-shadow: 0px 0px 10px #00a693;
  color: #0ab39f;
}
header nav .login {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .login .search-wrapper {
  margin-right: 40px;
}
header nav .login .search-wrapper button {
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  background: none;
  color: white;
}
header nav .login .search-wrapper button svg {
  font-size: 16px;
}
header nav .login .search-wrapper button:hover {
  color: #0ab39f;
}
header nav .login .search-wrapper button:focus {
  outline: none;
}
header nav .burger {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  header nav {
    height: 10vh;
  }
  header nav ul {
    font-size: 18px;
    left: 100%;
    position: absolute;
    flex-direction: column;
    width: 100%;
    background: black;
    transition: all 0.2s ease-in;
  }
  header nav .profileLinks-mobile {
    display: block;
  }
  header nav .profileLinks-d {
    display: none;
  }
  header nav .search-wrapper-mobile {
    flex: 1;
    display: block;
  }
  header nav .search-wrapper-mobile button {
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    background: none;
    color: white;
    float: right;
  }
  header nav .search-wrapper-mobile button svg {
    font-size: 16px;
  }
  header nav .search-wrapper-mobile button:hover {
    color: #0ab39f;
  }
  header nav .search-wrapper-mobile button:focus {
    outline: none;
  }
  header nav .search-wrapper {
    position: absolute;
    display: none;
  }
  header nav .open {
    left: 0;
  }
  header nav .nav-links {
    top: 10vh;
    height: 60vh;
  }
  header nav .login {
    top: 70vh;
    padding: 10px 0 20px 0;
    align-items: center;
  }
  header nav .logo img {
    width: 80px !important;
  }
  header nav .burger {
    display: inline !important;
  }
  header nav .burger div {
    height: 3px;
    margin: 5px;
    width: 25px;
    background: white;
  }
  header nav .toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  header nav .toggle .line2 {
    opacity: 0;
  }
  header nav .toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }
}
@media only screen and (min-width: 600px) {
  header nav .logo img {
    width: 80px;
  }
  header nav .nav-links {
    flex: 1;
  }
  header nav ul {
    font-size: 13px;
  }
}
@media only screen and (min-width: 768px) {
  header nav .logo img {
    width: 100px;
  }
  header nav .nav-links {
    flex: 1;
  }
  header nav ul {
    font-size: 15px;
  }
}
@media only screen and (min-width: 992px) {
  header nav .nav-links {
    flex: 0.5;
  }
}
@media only screen and (min-width: 1200px) {
  header nav .logo img {
    width: 100px;
  }
  header nav .nav-links {
    flex: 0.4;
  }
  header nav ul {
    font-size: 16px;
  }
}

footer {
  color: #535353;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #171a1b;
}
footer .container-footer {
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
footer .container-footer .social {
  color: #686868;
  font-size: 28px;
}
footer .container-footer .social a {
  margin-right: 14px;
}
footer .container-footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  font-size: 14px;
}
footer .container-footer a {
  color: #535353;
  text-decoration: none;
}
footer .container-footer a:hover {
  color: #00a693;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 300px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.67);
  /* Black w/ opacity */
}
@media (max-width: 599px) {
  .modal {
    width: 90%;
    margin: auto;
  }
}
.modal .modal-content {
  background: #ffffff;
  margin: auto;
  padding: 20px;
  width: 450px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 599px) {
  .modal .modal-content {
    width: 90%;
    margin: auto;
  }
}
.modal .modal-content .modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .modal-content .modal-title h2 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #030303;
}
.modal .modal-content .modal-title .close {
  float: right;
  cursor: pointer;
  width: 25px;
}
.modal .modal-content .modal-title .close svg {
  fill: #a4a4a4;
}
.modal .modal-content .modal-body .input-wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ededed;
  background: #fafafa;
  gap: 5px;
}
.modal .modal-content .modal-body .input-wrapper input {
  width: 100%;
  border: none;
  background: #fafafa;
}
@media (max-width: 599px) {
  .modal .modal-content .modal-body .input-wrapper input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.modal .modal-content .modal-body .input-wrapper input:focus,
.modal .modal-content .modal-body .input-wrapper button:focus {
  outline: none;
}
.modal .modal-content .modal-body .input-wrapper button {
  border: none;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  color: #00a693;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  position: relative;
  padding-bottom: 250px;
  min-height: 100vh;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #00a693 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgba(0, 166, 147, 0.514);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #00a693;
}

/* show hide*/
.display-n {
  display: none;
}

.display-b {
  display: block;
}

/* start - junrel - 10/30/2020
	preloader 
*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* end preloader*/
/* start junrel - 11/06/2020 */
/* start junrel - 11/06/2020
 * watch suggested 
*/
/* end junrel */
main {
  display: grid;
  grid-template-columns: 600px auto;
  height: 100%;
  background-image: url("../images/Watch NOWNa BG Image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
}
main section {
  max-height: 100%;
}

.login-section {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.login-section .logo-area {
  display: flex;
  align-items: center;
}
.login-section .logo-area img {
  height: 72px;
}
.login-section .logo-area p {
  color: white;
  font-size: 32px;
  margin-left: 10px;
}
.login-section .form-area {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.login-section .form-area .wrapper {
  width: 365px;
  padding: 20px;
  /* margin: 20px; */
  border: 1px solid #d8dde6;
  border-radius: 5px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.login-section .form-area .wrapper h1 {
  margin-bottom: 28px;
  color: #54698d;
  font-size: 24px;
}
.login-section .form-area .wrapper .loginForm * {
  display: block;
  width: 100%;
}
.login-section .form-area .wrapper .loginForm a {
  text-decoration: none;
  display: unset;
  width: unset;
}
.login-section .form-area .wrapper .loginForm .input-wrapper {
  margin-bottom: 16px;
}
.login-section .form-area .wrapper .loginForm .input-wrapper label {
  color: #54698d;
  margin-bottom: 8px;
  font-size: 13px;
}
.login-section .form-area .wrapper .loginForm .input-wrapper input {
  outline: none;
  color: #54698d;
  /* margin-bottom: 16px; */
  padding: 12px;
  font-size: 0.8125rem;
  background-color: transparent;
  border: 1px solid #868686;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.login-section .form-area .wrapper .loginForm .input-wrapper .login-button {
  color: white;
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 16px 0px;
  cursor: pointer;
  background-color: #00a693;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}
.login-section .copyright-area {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.login-section .copyright-area p {
  color: white;
  font-weight: 200;
}

.image-section {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.image-section .devices {
  margin: 0px 50px 50px 0px;
}
.image-section .devices img {
  height: 30px;
  width: 30px;
}

/*# sourceMappingURL=login2.css.map */
