.favorite-section,
.recently-section {
	background: #131722;
	min-height: 100vh;
	padding-bottom: 100px;
	button {
		padding: 5px 15px;
		margin-bottom: 20px;
		border: none;
		background: #949cb038;
		color: #f1f1f1d6;
		border-radius: 5px;
		&:focus {
			outline: none;
		}

		&:disabled {
			opacity: 0.4;

			&:hover {
				opacity: 0.4; //this is what you want
			}
		}

		&:hover {
			background: #eeeeee2b;
		}
	}
	.title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.2rem;
		h4 {
			font-size: 1.35rem;
			font-weight: 500;
			letter-spacing: 0.025rem;
		}
		.close {
			// float: right;
			cursor: pointer;
			width: 25px;
			&:hover {
				background: rgb(128 128 128 / 10%);
				border-radius: 5px;
			}
			svg {
				fill: #0ab39f;
			}
		}
	}

	.video-list {
		display: grid;

		grid-template-columns: repeat(auto-fill, minmax(12.6rem, 1fr));
		gap: 0.79rem;
		grid-row-gap: 1.7rem;
		@include for-phone-only {
			// grid-template-columns: repeat(auto-fill, minmax(10.6rem, 0.5fr));
			grid-template-columns: repeat(auto-fill, minmax(40%, 0.5fr));
		}
		.card {
			position: relative;
			cursor: pointer;
			.thumbnail {
				@include for-phone-only {
					height: 9.2rem;
				}
				height: 12.5rem;
				// opacity: 0.9;
				-webkit-transition: opacity 200ms ease-in-out;
				-moz-transition: opacity 200ms ease-in-out;
				-ms-transition: opacity 200ms ease-in-out;
				-o-transition: opacity 200ms ease-in-out;
				transition: opacity 200ms ease-in-out;
				position: relative;
				img {
					height: 100%;
					width: 100%;
				}
				&:hover::after {
					filter: alpha(opacity=50);
					opacity: 0.8;
					// background: #25f5f545;
					background: #00ffff30;
				}

				&::after {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 1;
					pointer-events: auto;
					content: "";
					background: transparent;
					transition: all 200ms ease;
				}
			}

			.content {
				padding-top: 0.5rem;
				display: flex;
				flex-direction: column;
				h2 {
					font-size: 0.87422rem;
					font-weight: 500;
					letter-spacing: 0.0278rem;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					color: #fff;

					&:hover {
						color: #0ab39f;
					}
				}
				.action {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					gap: 5px;
					button {
						margin-top: 2px;
						height: 30px;
						width: 30px;
						border-radius: 50%;
						border: none;
						background: #949cb038;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						transition: all 200ms ease;
						font-size: 10px;
						svg {
							color: #f1f1f1d6;
							// color: #0ab39f;
							// font-size: 0.52rem;
						}

						&:focus {
							outline: none;
						}

						&:hover {
							background: #eeeeee2b;
						}
					}
				}
			}
		}
	}
}

.favorite-section-article {
	background: #ffffff;
	padding-top: 50px;
	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1.2rem;
		h4 {
			font-size: 1.35rem;
			font-weight: 500;
			letter-spacing: 0.025rem;
			color: #0c0e17;
		}
		span.close {
			cursor: pointer;
			width: 25px;
			svg {
				fill: #0ab39f;
			}
			&:hover {
				background: rgba(128, 128, 128, 0.1);
				border-radius: 5px;
			}
		}
	}
	.clear-history {
		padding: 5px 15px;
		margin-bottom: 20px;
		border: none;
		background: #00a693;
		color: #fff;
		border-radius: 5px;
	}

	.list-article {
		// display: flex;
		.card {
			display: flex;
			align-items: inherit;
			justify-content: space-between;
			flex-direction: inherit;
			gap: 30px;
			margin-bottom: 50px;
			.image {
				width: 360px;
				height: 200px;
				cursor: pointer;
				position: relative;
				.featured-img {
					width: 100%;
					height: 100%;
				}
				.source-content {
					position: absolute;
					right: 0;
					top: 0;
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 20px;
					padding: 5px;
					.source-logo {
						height: 40px;
						width: 50px;
						img {
							height: 100%;
							width: 100%;
						}
					}
				}
			}
			.details {
				flex: 1;
				h3 {
					font-weight: 600;
					cursor: pointer;
					font-size: 22px;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-transform: inherit;
					color: #0c0e17;
				}
				.posted {
					font-size: 0.812rem;
					font-weight: 400;
					color: #949cb0;
					font-style: italic;
				}
				.description {
					margin-top: 15px;
					display: block;
					font-size: 0.812rem;
					font-weight: 300;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					color: #0c0e17;
				}
				.source {
					padding-top: 20px;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					gap: 10px;
					.action {
						flex: 1;
						gap: 5px;
						display: flex;
						button {
							margin-top: 2px;
							height: 30px;
							width: 30px;
							border-radius: 50%;
							border: none;
							background: #949cb038;
							display: flex;
							justify-content: center;
							align-items: center;
							cursor: pointer;
							transition: all 200ms ease;
							font-size: 10px;
							svg {
								color: gray;
							}
							&:hover {
								background: #dddfea;
							}
							&:focus {
								outline: none;
							}
						}
					}
				}
			}
		}
	}
}
