// @import url(https://fonts.googleapis.com/css?family=Lato:400,300);
// @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
body {
	font-family: $font-stack;
	// background-color: black;
	// background: #131722;
	background: #0e0d12;
	position: relative;
	// padding-bottom: 250px;
	// min-height: 100vh;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

* {
	scrollbar-width: thin;
	scrollbar-color: $primary-color transparent;
}

*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.hide {
	display: none !important;
}

/* Track */
// *::-webkit-scrollbar-track {
//   background: rgba(0, 166, 147, 0.096);
// }

/* Handle */
*::-webkit-scrollbar-thumb {
	background: rgba(0, 166, 147, 0.514);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
	background: #00a693;
}

.d-n {
	display: none;
}

.container {
	width: 100%;
	color: #ffffff;
}
.row {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.col-12 {
	-webkit-box-flex: 0;
	flex: 0 0 100%;
	max-width: 100%;
}

.pt-150 {
	padding-top: 150px;
}

img {
	height: 100%;
	width: 100%;
}

.btn-social {
	width: 25px;
	height: 25px;
	border-radius: 6px;
	border: none;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	line-height: 60px;
	h2 {
		font-weight: 400;
		font-size: 18px;
		text-align: center;
	}
	svg {
		pointer-events: none;
		display: block;
		width: 100%;
		height: 100%;
		fill: #0ab39f;
		width: 25px;
	}
	svg:hover {
		color: #00a693;
	}
}

.btn-load {
	position: absolute;
	bottom: 0;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 20px;
	background: transparent;
	color: white;
	font-size: 12px;
	font-weight: 600;
	border: 1px solid #313132;
	transition: border 0.4s;

	&:hover {
		border: 1px solid #86888b;
	}
}

.spinner {
	display: none;
	justify-content: center;
	align-items: center;
	svg {
		color: white;
		font-size: 30px;
	}
}

/* start - junrel - 10/30/2020
	preloader 
*/
.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;

	div {
		position: absolute;
		top: 33px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: #fff;
		animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}

	div:nth-child(1) {
		left: 8px;
		animation: lds-ellipsis1 0.6s infinite;
	}

	div:nth-child(2) {
		left: 8px;
		animation: lds-ellipsis2 0.6s infinite;
	}

	div:nth-child(3) {
		left: 32px;
		animation: lds-ellipsis2 0.6s infinite;
	}

	div:nth-child(4) {
		left: 56px;
		animation: lds-ellipsis3 0.6s infinite;
	}
}

@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(24px, 0);
	}
}

/* end preloader*/

@mixin square_card($scale: 1) {
	display: inline-block;
	width: 220px;
	height: 170px;
	margin: 0px 5px;
	background-color: #2e5167;
	border-radius: 5px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transition: all 500ms ease-in-out 50ms;
	// overflow: hidden;

	&:hover {
		// transform: scale($scale);
		z-index: 1;
	}
}

@mixin scrollStyle {
	&::-webkit-scrollbar-thumb {
		background: rgba(255, 255, 255, 0);
	}

	&:hover::-webkit-scrollbar-thumb {
		background: rgba(0, 166, 147, 0.514);
	}
}

@mixin trending_nhw {
	display: block;
	overflow-x: scroll;
	white-space: nowrap;
	margin-bottom: 14px;

	padding: {
		top: 15px;
		right: 0px;
		bottom: 15px;
		left: 0px;
	}
}

@mixin for-phone-only {
	@media (max-width: 599px) {
		@content;
	}
}

@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content;
	}
}

@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content;
	}
}

@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}

@mixin socials {
	.social {
		position: absolute;
		z-index: 1;
		right: -10px;
		top: 173px;

		border-radius: 0 0 4px 4px;

		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding-right: 10px;

		button {
			width: 45px;
			height: 38px;
			background: #00a693;
			border: navajowhite;
			&:focus {
				outline: none;
			}
			@include for-phone-only {
				width: 49px;
				height: 38px;
				background: #00a693;
			}
		}

		svg {
			cursor: pointer;
			font-size: 30px;
			color: #fff;
			-webkit-transition: all 200ms ease-in-out;
			-moz-transition: all 200ms ease-in-out;
			-ms-transition: all 200ms ease-in-out;
			-o-transition: all 200ms ease-in-out;
			transition: all 200ms ease-in-out;
		}

		@include for-phone-only {
			right: 19px;
			// top: 122px;
			top: 21%;
			border-radius: 0;
			width: 38px;
		}
	}
}

@mixin live {
	.live-section {
		width: 100%;
		position: relative;
		overflow: hidden;

		@include for-phone-only {
			.btn-social-desktop {
				display: none;
			}
			.btn-social-mobile {
				display: block;
			}
		}

		.playlist-wrapper {
			width: 0%;
			position: absolute;
			right: 0;
			top: 70px;
			opacity: 0;
			height: 100vh;
			display: flex;
			flex-direction: column;

			-webkit-transition: all 200ms ease;
			-moz-transition: all 200ms ease;
			-o-transition: all 200ms ease;
			transition: all 200ms ease;

			.title {
				display: flex;
				justify-content: space-between;
				align-items: center;
				// padding: 15px 10px 0;
				h2 {
					font-weight: 400;
					font-size: 18px;
					text-align: center;
				}
				svg {
					pointer-events: none;
					display: block;
					width: 100%;
					height: 100%;
					fill: #0ab39f;
					width: 25px;
				}
				svg:hover {
					color: #00a693;
				}
			}

			.social {
				width: 100%;
				display: flex;
				padding: 15px 10px;
				gap: 20px;
				align-items: center;
				button {
					border-radius: 0;
					&:focus {
						outline: none;
					}
				}
				svg {
					cursor: pointer;
					// font-size: 30px;
					transition: all 100ms ease-in;
					// color: #fff;
					&:hover {
						color: #004d44;
					}

					@include for-phone-only {
						font-size: 18px;
					}
				}
			}
			.playlist {
				background: #2e2f32;
				display: flex;
				flex-direction: column;
				overflow-y: scroll;
				padding: 10px 10px 70px;
				height: 100%;
				@include for-phone-only {
					display: grid;
					grid-template-columns: repeat(auto-fill, minmax(40%, 0.5fr));
					gap: 0.79rem;
					grid-row-gap: 1.7rem;
				}
				.card {
					padding-bottom: 10px;
					.thumbnail {
						height: 12.5rem;
						-webkit-transition: opacity 200ms ease-in-out;
						-moz-transition: opacity 200ms ease-in-out;
						-ms-transition: opacity 200ms ease-in-out;
						-o-transition: opacity 200ms ease-in-out;
						transition: opacity 200ms ease-in-out;
						position: relative;
						@include for-phone-only {
							height: 6.2rem;
						}
						img {
							height: 100%;
							width: 100%;
						}
						&:hover::after {
							filter: alpha(opacity=50);
							opacity: 0.8;
							// background: #25f5f545;
							background: #00ffff30;
						}

						&::after {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							z-index: 1;
							pointer-events: auto;
							content: "";
							background: transparent;
							transition: all 200ms ease;
						}
					}
					h2 {
						font-size: 0.87422rem;
						font-weight: 500;
						letter-spacing: 0.0278rem;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						color: #fff;
					}
					.action {
						display: flex;
						justify-content: flex-end;
						button {
							margin-top: 2px;
							height: 30px;
							width: 30px;
							border-radius: 50%;
							border: none;
							background: #949cb038;
							display: flex;
							justify-content: center;
							align-items: center;
							cursor: pointer;
							transition: all 200ms ease;
							font-size: 10px;
							svg {
								color: #f1f1f1d6;
								// color: #0ab39f;
								// font-size: 0.52rem;
							}

							&:focus {
								outline: none;
							}

							&:hover {
								background: #eeeeee2b;
							}
						}
					}
				}
			}
		}
	}
	.live {
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		width: 100%;
		// width: 90%;
		// margin: auto;
		height: 100vh;
		background-image: url("../images/Watch NOWNa BG Image.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		overflow: hidden;

		@include socials();

		@include watch-suggest-list();

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			pointer-events: none;
			background-image: linear-gradient(
				to bottom,
				rgba(252, 252, 252, 0),
				rgb(0, 0, 0) 90%
			);
			width: 100%;
			height: 4em;
		}

		.live-player {
			width: 100%;
			height: 100%;
			z-index: 0;
			position: absolute;
			// background-color: black !important;
		}

		.jw-error {
			background-color: black !important;
		}

		.details {
			letter-spacing: 1px;
			text-align: center;
			color: white;
			border-radius: 5px;
			position: absolute;
			top: 35%;
			left: 5%;
			width: 500px;
			background-color: rgb(66 66 66 / 52%);
			padding: 28px 14px;
			z-index: 1;

			// start - junrel 11/04/2020
			// mobile view

			@include for-phone-only {
				left: 0;
				top: 55%;
				width: 100%;

				p.notice {
					font-size: 16px !important;
				}

				p.headline {
					font-size: 22px !important;
				}

				.video-wrapper {
					padding-bottom: 5px;
					iframe {
						width: 100%;
						height: 180px;
					}
				}

				.watch-here {
					padding: 10px 12px !important;
					font-size: 12px !important;
				}
			}

			.content-wrapper {
				p.notice {
					font-size: 32px;
					margin-bottom: 14px;
					font-weight: 600;
					text-transform: capitalize;
				}

				p.headline {
					letter-spacing: 0;
					font-size: 28px;
					font-weight: 200;
					margin-bottom: 14px;

					span.source {
						font-style: italic;
						font-size: 18px;
					}
				}
			}

			button {
				font-family: $font-stack;
				font-size: 14px;
				color: white;
				letter-spacing: 1px;
				padding: 8px 14px;
				border: none;
				border-radius: 5px;
				background-color: $primary-color;
				cursor: pointer;

				&:hover {
					color: $primary-color;
					background-color: white;
				}
			}

			.modal-header {
				text-align: right;

				button {
					background-color: transparent;
					text-align: right;
					padding: 5px 10px;
				}
			}
		}
	}
}

/* start junrel - 11/06/2020 */
@mixin btn-white-cirle {
	.white-circle {
		position: absolute;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		top: calc(50% - 5px);
		-webkit-transform: translate(-0%, -50%);
		-ms-transform: translate(-0%, -50%);
		transform: translate(-0%, -50%);
		// z-index: 999;
		z-index: 1;
		background: hsla(0, 0%, 100%, 0.9);
		-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
		height: 30px;
		width: 30px;
		border-radius: 100%;
		cursor: pointer;

		&:hover {
			svg {
				opacity: 1;
			}
		}

		svg {
			fill: #313132;
			// color: #0ab39f;
			width: 6px !important;

			opacity: 0.65;
			transition: opacity 0.2s;
		}

		.svg-right {
			margin: -2px 12px;
		}

		.svg-left {
			margin: -2px 11px;
		}
	}

	.fa-left {
		left: -16px;
	}

	.fa-right {
		right: -16px;
	}
}

/* start junrel - 11/06/2020
 * watch suggested 
*/
@mixin watch-suggest-list {
	.video-list-pannel {
		width: 300px;
		position: absolute;
		right: -300px;
		// top: 15%;
		top: 70px;
		transition: all 0.2s ease-in;
		background: #121113;
		z-index: 1;
		.close-watch-list {
			display: none;
		}
		@include for-phone-only {
			width: 100%;
			height: 100%;
			top: 10%;
			right: -100%;

			#video-arrow-d {
				display: none;
			}

			#video-arrow-m {
				display: block;
			}
			h4 {
				width: 92%;
				margin: auto;
				padding: 15px 0 15px !important;
			}

			.hide-panel {
				right: -100% !important;
			}

			.close-watch-list {
				position: absolute;
				top: 12px;
				right: 21px;
				display: flex;
				svg {
					fill: #00a693;
				}
				// div {
				// 	height: 3px;
				// 	margin: 5px;
				// 	width: 25px;
				// 	background: #00a693;
				// }
			}

			.toggle-close {
				display: none;
				.line1 {
					transform: rotate(-45deg) translate(-6px, 6px);
				}

				.line2 {
					opacity: 0;
				}

				.line3 {
					transform: rotate(45deg) translate(-6px, -6px);
				}
			}
		}

		h4 {
			color: white;
			font-weight: 500;
			text-transform: uppercase;
			font-size: 13px;
			padding-bottom: 20px;
			padding: 15px;
		}

		.video-arrow {
			cursor: pointer;

			.VideoLandingPage-arrow-2bsv8 {
				position: absolute;
				background-color: #00a693;
				left: -45px;
				// top: 10px;
				top: 63px;
				width: 45px;
				height: 40px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;

				@include for-phone-only {
					left: -47px;
					width: 47px;
					// top: 16px;
					top: 2%;
				}

				svg {
					fill: #fff;
					width: 30px;
				}

				&:focus {
					outline: none;
				}
			}
		}

		// &:hover {
		// 	right: 0;
		// }

		.channel-list {
			padding: 15px;
			background: #2e2f32;
			width: 100%;
			max-height: 600px;
			overflow-y: scroll;

			.video {
				padding-top: 10px;
				display: grid;
				grid-template-columns: 0.5fr 1fr;
				grid-gap: 5px;
				align-items: center;
				cursor: pointer;

				&:last-child {
					padding-bottom: 10px;
				}

				img {
					width: 80px;
					height: 80px;
				}

				.description {
					.channel {
						font-size: 14px;
						padding-bottom: 5px;
					}

					p {
						color: white;
						font-size: 12px;
						overflow: hidden;
						text-overflow: ellipsis;
						-webkit-line-clamp: 2;
						display: -webkit-box;
						-webkit-box-orient: vertical;
					}
				}
			}
		}
	}
}

@mixin card_body($padding-bottom: 25px) {
	.card-body {
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		height: 100%;
		align-items: flex-end;
		transition: opacity 300ms ease;
		background: linear-gradient(
			180deg,
			#02002400 0%,
			#09097900 35%,
			rgb(0 0 0 / 82%) 100%
		);
		opacity: 0;
		bottom: -15px;
		padding: 0 5px;
		@include for-phone-only {
			opacity: 1;
		}
		.items {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			width: 100%;
			p {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				font-size: 12px;
				color: #fff;
				padding-bottom: 7px;
			}
			.action {
				flex: 0.5;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 5px;

				.btn {
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					border: none;
					text-decoration: none;
					-webkit-transition: all 200ms ease;
					transition: all 200ms ease;
					border-radius: 100%;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					position: relative;
					outline: none;
					font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica,
						Arial, sans-serif;
					font-size: 10px;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					text-align: center;
					background: #f3f3f4;
					height: 30px;
					width: 30px;
					svg {
						color: #6e6d7a;
						// color: #0ab39f;
					}

					svg.active {
						color: #ff00ffa6 !important;
					}

					&:hover {
						background: #e7e7e9;
					}
				}
			}
		}
	}
}

/* end junrel */

.input-wrapper {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	// border: 1px solid #ededed;
	// background: #fafafa;
	gap: 5px;
	.input {
		width: 90%;
		border: none;
		background: #fafafa;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		@include for-phone-only {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.input.valid {
		border: 1px solid #0ab39f !important;
	}

	.input.error {
		border: 1px solid #dc3545 !important;
	}

	label.error {
		color: #dc3545 !important;
	}

	.input:focus,
	.btn:focus {
		outline: none;
	}
	.btn {
		border: none;
		background: transparent;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 12px;
		color: #00a693;
	}
}
