@mixin local {
	.local {
		color: white;
		// padding: 14px 14px 0px 14px;
		width: 90%;
		margin: auto;
		padding-bottom: 20px;
		.now-wrapper {
			position: relative;
			@include btn-white-cirle();
		}
		h3 {
			font-weight: normal;
			font-size: 18px;
			letter-spacing: 1px;
			margin-bottom: 5px;
		}

		h4 {
			font-weight: normal;
			font-size: 16px;
			letter-spacing: 1px;
			// padding-left: 14px;
			margin-top: 14px;
		}

		.filter {
			display: grid;
			grid-template-columns: auto auto auto auto;
			margin: 0px auto;
			width: 80%;

			a {
				color: white;
				cursor: pointer;
				text-decoration: none;
			}

			//start junrel - 11/04/2020
			/* Extra small devices (phones, 600px and down) */
			@include for-phone-only {
				grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
			}
			// end junrel - 11/04/2020
		}

		.related-videos {
			@include trending_nhw();
			@include scrollStyle();
		}

		.card {
			position: relative;
			@include square_card($scale: 1.2);

			@include card_body();

			&:hover > div {
				opacity: 1;
			}

			// p {
			// 	position: absolute;
			// 	left: 0;
			// 	bottom: -44px;
			// 	padding: 10px;
			// 	font-size: 10px;
			// 	background-color: #205f51e0;
			// 	overflow: hidden;
			// 	white-space: pre-line;
			// 	text-overflow: ellipsis;
			// 	max-height: 45px;
			// 	width: 100%;
			// 	transition: all 800ms;
			// 	opacity: 0;

			// 	@include for-phone-only {
			// 		opacity: 1;
			// 		bottom: 0;
			// 	}
			// }
		}
	}
}
