.playlist-items-section {
	background: #131722;
	min-height: 100vh;
	.wrapper {
		width: 90%;
		margin: auto;
		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1.2rem;
			h2 {
				font-size: 1.35rem;
				font-weight: 500;
				letter-spacing: 0.025rem;
			}
			.close {
				// float: right;
				cursor: pointer;
				width: 25px;
				&:hover {
					background: rgb(128 128 128 / 10%);
					border-radius: 5px;
				}
				svg {
					fill: #0ab39f;
				}
			}
		}

		.playlist {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(12.6rem, 1fr));
			gap: 0.79rem;
			grid-row-gap: 1.7rem;
			@include for-phone-only {
				grid-template-columns: repeat(auto-fill, minmax(40%, 0.5fr));
			}
			.card {
				display: flex;
				flex-direction: column;
				.thumbnail {
					height: 12.5rem;
					-webkit-transition: opacity 200ms ease-in-out;
					-moz-transition: opacity 200ms ease-in-out;
					-ms-transition: opacity 200ms ease-in-out;
					-o-transition: opacity 200ms ease-in-out;
					transition: opacity 200ms ease-in-out;
					position: relative;
					@include for-phone-only {
						height: 9.2rem;
					}
					img {
						height: 100%;
						width: 100%;
					}
					&:hover::after {
						filter: alpha(opacity=50);
						opacity: 0.8;
						// background: #25f5f545;
						background: #00ffff30;
					}

					&::after {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						z-index: 1;
						pointer-events: auto;
						content: "";
						background: transparent;
						transition: all 200ms ease;
					}
				}
				h2 {
					font-size: 0.87422rem;
					font-weight: 500;
					letter-spacing: 0.0278rem;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					color: #fff;
				}

				.action {
					display: flex;
					justify-content: flex-end;
					button {
						margin-top: 2px;
						height: 30px;
						width: 30px;
						border-radius: 50%;
						border: none;
						background: #949cb038;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						transition: all 200ms ease;
						font-size: 10px;
					}
				}
			}
		}
	}
}
