@mixin read {
	.read {
		color: black;
		// padding: 100px 64px 64px 64px;
		background-color: #ffffff;
		position: relative;
		top: -50px;

		.read-wrapper {
			width: 90%;
			margin: auto;
			padding: 50px 0 50px;
			@include for-phone-only {
				// padding: 100px 30px 64px 30px;
				padding: 50px 0 50px;
			}

			// &:before {
			// 	content: "";
			// 	position: absolute;
			// 	top: -1px;
			// 	left: 0;
			// 	pointer-events: none;
			// 	background-image: linear-gradient(
			// 		to top,
			// 		rgba(252, 252, 252, 0),
			// 		rgb(0, 0, 0) 90%
			// 	);
			// 	width: 100%;
			// 	height: 4em;
			// }

			// &:after {
			// 	content: "";
			// 	position: absolute;
			// 	bottom: -1px;
			// 	left: 0;
			// 	pointer-events: none;
			// 	background-image: linear-gradient(
			// 		to bottom,
			// 		rgba(252, 252, 252, 0),
			// 		rgb(0, 0, 0) 90%
			// 	);
			// 	width: 100%;
			// 	height: 4em;
			// }

			// h3 {
			// 	font-weight: normal;
			// 	font-size: 18px;
			// 	letter-spacing: 1px;
			// 	margin-bottom: 5px;
			// }

			h3 {
				font-weight: normal;
				// font-size: 16px;
				font-size: $font-size-10;
				letter-spacing: 1px;
				margin-bottom: 5px;
				text-transform: uppercase;
				font-weight: 600;
			}

			li {
				cursor: pointer;
				list-style: none;
				// padding: 5px 14px 5px 5px;
				padding: 5px 14px 5px 0;

				&.active,
				&:hover {
					// background-color: $primary-color;

					a {
						// color: #ffffff;
						color: #00a693;
					}
				}
			}

			a {
				text-decoration: none;
				color: black;
				font-size: $font-size-10;
			}

			.wrapper {
				display: flex;
				width: 100%;
				@include for-phone-only {
					display: inline;
				}

				.category {
					width: 15%;
					// margin-right: 24px;
					// a {
					// 	font-size: 0.812rem;
					// 	font-weight: 500;
					// }
					@include for-phone-only {
						width: 100%;
						padding-bottom: 30px;
					}
				}
			}

			.read-content {
				width: 100%;
				.card {
					display: flex;
					align-items: inherit;
					justify-content: space-between;
					flex-direction: inherit;
					gap: 30px;
					margin-bottom: 50px;
					@include for-phone-only {
						flex-direction: column;
					}
					.image {
						width: 360px;
						height: 200px;
						cursor: pointer;
						position: relative;
						@include for-phone-only {
							width: 100%;
							height: 100%;
						}
						img {
							width: 100%;
							height: 100%;
						}

						.source-content {
							position: absolute;
							right: 0;
							top: 0;
							display: flex;
							align-items: center;
							justify-content: space-between;
							gap: 20px;
							// background: #ffffff61;
							padding: 5px;
							p {
								font-size: 12px;
								font-weight: 400;
								// text-transform: uppercase;
								// color: #949cb0;
								// font-style: italic;
							}
							.source-logo {
								height: 40px;
								width: 50px;

								.source-logo {
									width: 100%;
									height: 100%;
								}
							}
						}
					}
					.details {
						flex: 1;
						// width: 100%;
						h3 {
							// margin-bottom: 15px;
							font-weight: 600;
							cursor: pointer;
							font-size: $font-size-8;
							// text-transform: inherit;
							// padding: 15px 0;
							display: -webkit-box;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-transform: inherit;
							&:hover {
								color: #00a693;
							}
						}
						.posted {
							font-size: $font-size-12;
							font-weight: 400;
							color: #949cb0;
							font-style: italic;
						}
						.verified {
							margin-left: 10px;
							// position: relative;
							// border: 1px solid #00800000;
							border-radius: 108px;
							padding: 2px 7px;
							color: #ffffff;
							background-color: #00a693;
							font-size: $font-size-12;
							font-weight: 300;
						}
						.source {
							padding-top: 20px;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							gap: 10px;
							// position: absolute;
							// bottom: 0;
							p {
								font-size: 12px;
								font-weight: 400;
								text-transform: uppercase;
								color: #949cb0;
								// font-style: italic;
							}
							.image {
								height: 30px;
								width: 50px;
								img.source-logo {
									width: 100%;
									height: 100%;
								}
							}

							.action {
								// padding-left: 20px;
								flex: 1;
								gap: 5px;
								display: flex;
								button {
									margin-top: 2px;
									height: 30px;
									width: 30px;
									border-radius: 50%;
									border: none;
									background: #949cb038;
									display: flex;
									justify-content: center;
									align-items: center;
									cursor: pointer;
									transition: all 200ms ease;
									font-size: $font-size-12;

									svg {
										color: gray;
									}

									&:focus {
										outline: none;
									}

									&:hover {
										background: #dddfea;
									}
								}
							}
						}

						.description {
							margin-top: 15px;
							display: block;
							// font-size: 0.812rem;
							font-size: $font-size-10;
							font-weight: 300;
							display: -webkit-box;
							// max-width: 100%;
							-webkit-line-clamp: 3;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}
					}
				}
			}

			// .preview {
			// 	flex: 1;

			// 	.thumbnail {
			// 		border-bottom: 1px solid grey;
			// 		margin-bottom: 14px;
			// 		display: inline-flex;
			// 		gap: 14px;
			// 		width: 100%;

			// 		@include for-phone-only {
			// 			display: inline-block;
			// 			padding-bottom: 10px;
			// 		}

			// 		&:last-child {
			// 			border-bottom: none;
			// 		}

			// 		img.source-logo {
			// 			width: 50px;
			// 		}

			// 		.details {
			// 			width: 100%;

			// 			h3 {
			// 				font-weight: bold;
			// 				cursor: pointer;
			// 			}
			// 			div {
			// 				font-size: 10px;
			// 				margin-bottom: 10px;

			// 				@include verified();

			// 				.posted {
			// 					padding: 10px;
			// 				}
			// 			}
			// 		}

			// 		.desktop {
			// 			display: block;

			// 			@include for-phone-only {
			// 				display: none;
			// 			}
			// 		}

			// 		img.featured-img {
			// 			width: 200px;

			// 			@include for-phone-only {
			// 				width: 100%;
			// 				padding-top: 10px;
			// 			}
			// 		}
			// 		.mobile {
			// 			display: none;

			// 			@include for-phone-only {
			// 				display: block;
			// 			}
			// 		}
			// 	}

			// 	.stage {
			// 		padding: 40px;
			// 		text-align: center;

			// 		a {
			// 			line-height: 1em;
			// 			letter-spacing: 0.06em;
			// 			font-family: "Lato", sans-serif;
			// 			font-weight: normal;
			// 			font-size: 16px;
			// 			text-decoration: none;
			// 			color: #ffffff;
			// 			background: #231f20;
			// 			display: inline-block;
			// 			padding: 15px 12px 15px 15px;
			// 			transition: background 200ms;
			// 			border-radius: 4px;
			// 			cursor: pointer;

			// 			&:hover {
			// 				background: $primary-color;

			// 				span {
			// 					color: #ffffff;
			// 				}
			// 			}

			// 			span {
			// 				// font-family: 'FontAwesome', sans-serif;
			// 				font-weight: 300;
			// 				// content: "\f105";
			// 				margin-left: 20px;
			// 				color: $primary-color;
			// 				font-size: 18px;
			// 				vertical-align: middle;
			// 				transition: color 200ms;
			// 			}

			// 			&:hover:after {
			// 				color: #231f20;
			// 			}
			// 		}
			// 	}
			// }
		}
	}
}

@mixin view-article {
	/**
	 * Kenneth
	 * 20201029
	 */
	.view-article {
		background-color: white;
		// margin: 50px 15px 15px 15px;
		width: 100%;
		margin: auto;
		overflow: scroll;
		padding: 100px 5%;
		height: 100vh;

		@include for-phone-only {
			padding: 0;
			display: block;
			height: 90vh;
		}

		.header {
			// padding: 50px;

			h3 {
				font-size: $font-size-8;
			}

			@include for-phone-only {
				h1 {
					font-size: large;
				}
			}

			div {
				font-size: small;
				display: flex;
				@include for-phone-only {
					display: contents;
				}

				@include verified();

				.posted {
					padding: 4px 0px 0px 10px;
				}
			}
		}

		.banner {
			text-align: center;
			padding: 20px 0;

			.source {
				padding: 19px;
				display: table;
				position: relative;
				bottom: 122px;
				background-color: #ffffff61;
				@include for-phone-only {
					bottom: 0px;
				}

				img {
					height: 50px;
				}
				span {
					display: table-cell;
					vertical-align: middle;
					padding-left: 10px;
				}
			}
		}

		.content {
			// padding: 0 50px 0 50px;
		}

		.action {
			width: 100%;
			text-align: center;

			a {
				padding: 50px;
				display: block;
				width: 100%;

				.icon {
					display: -webkit-box;
					display: -webkit-flex;
					display: -ms-flexbox;
					display: flex;
					-webkit-align-items: flex-start;
					-webkit-box-align: flex-start;
					-ms-flex-align: flex-start;
					align-items: flex-start;
					-webkit-box-pack: center;
					-webkit-justify-content: center;
					-ms-flex-pack: center;
					justify-content: center;
					height: 30px;
					-webkit-animation: iconScroll 1s;
					-webkit-animation: iconScroll 1s;
					animation: iconScroll 1s;
					-webkit-animation-iteration-count: infinite;
					-webkit-animation-iteration-count: infinite;
					animation-iteration-count: infinite;
				}

				button {
					-webkit-align-items: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-webkit-justify-content: center;
					-ms-flex-pack: center;
					justify-content: center;
					font-family: Roboto, Helvetica, -apple-system,
						BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial,
						sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
						"Segoe UI Symbol";
					background-color: rgba(0, 0, 0, 0);
					line-height: 1.75;
					outline: none;
					cursor: pointer;
					-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
					-webkit-transition: all 500ms, -webkit-transform 1ms;
					-webkit-transition: all 500ms, transform 1ms;
					transition: all 500ms, transform 1ms;

					border-radius: 6px;
					font-weight: 500;
					font-size: 16px;
					padding: 6px 30px;
					width: 270px;
					border: 1px solid rgb(165 218 213);
					color: $primary-color;

					@include for-phone-only {
						width: auto;
					}
				}
			}
		}
	}

	/**
	 * End Kenneth
	 */
}

@mixin verified() {
	.verified {
		border: 1px solid #00800000;
		border-radius: 108px;
		padding: 2px 7px;
		color: #ffffff;
		background-color: $primary-color;
	}
}

@mixin read-prompt {
	.read-promp-section {
		color: #0e0d12;
		width: 100%;
		background: #fff;
		padding-top: 130px;
		.article {
			width: 70%;
			margin: auto;
			@include for-phone-only {
				width: 90%;
			}
			.header {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				position: relative;
				h3 {
					font-weight: 600;
					cursor: pointer;
					font-size: $font-size-8;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-transform: inherit;
					color: #0c0e17;
					flex: 0.8;
					margin-bottom: 30px;
					line-height: normal;
					@include for-phone-only {
						flex: auto;
						font-size: 18px;
					}
				}
				span.close {
					cursor: pointer;
					width: 25px;
					position: absolute;
					top: 0;
					right: 0;
					svg {
						fill: #0ab39f;
					}
					&:hover {
						background: rgba(128, 128, 128, 0.1);
						border-radius: 5px;
					}
				}
			}

			.article-body {
				display: block;
				.banner {
					width: 100%;
					height: 550px;
					position: relative;
					@include for-phone-only {
						height: 200px;
					}
					img {
						width: 100%;
						height: 100%;
					}
					.source {
						position: absolute;
						top: 0;
						right: 0;
						width: 50px;
						height: 45px;
					}
				}
				.content {
					padding-top: 30px;
					// padding-bottom: 30px;
					p {
						margin-top: 15px;
						display: block;
						font-size: $font-size-10;
						font-weight: 300;
					}
				}
				.action {
					width: 100%;
					text-align: center;
					a {
						padding: 50px;
						display: block;
						width: 100%;
						.icon {
							display: -webkit-box;
							display: -webkit-flex;
							display: -ms-flexbox;
							display: flex;
							-webkit-align-items: flex-start;
							-webkit-box-align: flex-start;
							-ms-flex-align: flex-start;
							align-items: flex-start;
							-webkit-box-pack: center;
							-webkit-justify-content: center;
							-ms-flex-pack: center;
							justify-content: center;
							height: 30px;
							-webkit-animation: iconScroll 1s;
							-webkit-animation: iconScroll 1s;
							animation: iconScroll 1s;
							-webkit-animation-iteration-count: infinite;
							-webkit-animation-iteration-count: infinite;
							animation-iteration-count: infinite;
						}
						button {
							-webkit-align-items: center;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							-webkit-box-pack: center;
							-webkit-justify-content: center;
							-ms-flex-pack: center;
							justify-content: center;
							font-family: Roboto, Helvetica, -apple-system,
								BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
								Arial, sans-serif, "Apple Color Emoji",
								"Segoe UI Emoji", "Segoe UI Symbol";
							background-color: rgba(0, 0, 0, 0);
							line-height: 1.75;
							outline: none;
							cursor: pointer;
							-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
							-webkit-transition: all 500ms, -webkit-transform 1ms;
							-webkit-transition: all 500ms, transform 1ms;
							transition: all 500ms, transform 1ms;
							border-radius: 6px;
							font-weight: 500;
							font-size: 16px;
							padding: 6px 30px;
							width: 270px;
							border: 1px solid #a5dad5;
							color: #00a693;
							@include for-phone-only {
								width: auto;
							}
						}
					}
				}
			}
		}
	}
}
