.recently-read-section {
	background: #ffffff;
	min-height: 80vh;
	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		h4 {
			font-size: 1.35rem;
			font-weight: 500;
			letter-spacing: 0.025rem;
			color: #0c0e17;
		}
		span.close {
			cursor: pointer;
			width: 25px;
			svg {
				fill: #0ab39f;
			}
			&:hover {
				background: rgba(128, 128, 128, 0.1);
				border-radius: 5px;
			}
		}
	}
	.clear-history {
		padding: 5px 15px;
		margin-bottom: 20px;
		border: none;
		background: #00a693;
		color: #fff;
		border-radius: 5px;
		&:focus {
			outline: none;
		}

		&:disabled {
			opacity: 0.4;

			&:hover {
				opacity: 0.4; //this is what you want
			}
		}
	}

	.video-list {
		// display: flex;
		.card {
			display: flex;
			align-items: inherit;
			justify-content: space-between;
			flex-direction: inherit;
			gap: 30px;
			margin-bottom: 50px;
			@include for-phone-only {
				flex-direction: column;
			}
			.image {
				width: 360px;
				height: 200px;
				cursor: pointer;
				position: relative;
				@include for-phone-only {
					width: 100%;
					height: 100%;
				}
				.featured-img {
					width: 100%;
					height: 100%;
				}
				.source-content {
					position: absolute;
					right: 0;
					top: 0;
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 20px;
					padding: 5px;
					.source-logo {
						height: 40px;
						width: 50px;
						img {
							height: 100%;
							width: 100%;
						}
					}
				}
			}
			.details {
				flex: 1;
				h3 {
					font-weight: 600;
					cursor: pointer;
					font-size: 22px;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-transform: inherit;
					color: #0c0e17;
				}
				.posted {
					font-size: 0.812rem;
					font-weight: 400;
					color: #949cb0;
					font-style: italic;
				}
				.description {
					margin-top: 15px;
					display: block;
					font-size: 0.812rem;
					font-weight: 300;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					color: #0c0e17;
				}
				.source {
					padding-top: 20px;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					gap: 10px;
					.action {
						flex: 1;
						gap: 5px;
						display: flex;
						button {
							margin-top: 2px;
							height: 30px;
							width: 30px;
							border-radius: 50%;
							border: none;
							background: #949cb038;
							display: flex;
							justify-content: center;
							align-items: center;
							cursor: pointer;
							transition: all 200ms ease;
							font-size: 10px;
							&:hover {
								background: #dddfea;
							}
							&:focus {
								outline: none;
							}
						}
					}
				}
			}
		}
	}
}
