.modal {
	display: none;
	position: fixed;
	z-index: 999;
	padding-top: 150px;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.67); /* Black w/ opacity */

	@include for-phone-only {
		width: 90%;
		margin: auto;
	}

	.modal-content {
		background: #ffffff;
		margin: auto;
		padding: 30px;
		width: 450px;
		display: flex;
		flex-direction: column;

		@include for-phone-only {
			width: 90%;
			margin: auto;
		}
		.modal-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			h2 {
				font-size: 1rem;
				font-weight: 400;
				letter-spacing: 0;
				line-height: 1.75rem;
				-webkit-hyphens: auto;
				-ms-hyphens: auto;
				hyphens: auto;
				word-break: break-word;
				word-wrap: break-word;
				color: #030303;
			}
			.close {
				float: right;
				cursor: pointer;
				width: 25px;
				&:hover {
					background: rgb(128 128 128 / 10%);
					border-radius: 5px;
				}
				svg {
					fill: #a4a4a4;
				}
			}
		}
		.modal-body {
			.share-wrapper {
				margin-top: 10px;
				width: 100%;
				display: flex;
				justify-content: space-between;
				padding: 10px;
				border: 1px solid #ededed;
				background: #fafafa;
				gap: 5px;
				input {
					width: 90%;
					border: none;
					background: #fafafa;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					@include for-phone-only {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				input:focus,
				button:focus {
					outline: none;
				}
				button {
					border: none;
					background: transparent;
					cursor: pointer;
					text-transform: uppercase;
					font-size: 12px;
					color: #00a693;
				}
			}
		}
	}
}

.share-img {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 300px;
}
