@mixin trending {
	.trending {
		color: white;
		// padding: 165px 14px 0px 14px;
		// padding: 35px 14px 0px 14px;

		.now-wrapper {
			position: relative;
			@include btn-white-cirle();
		}

		.nows {
			display: flex;
			white-space: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			gap: 20px;
			height: 200px;
		}

		.cards {
			width: 230px;
			position: relative;
			.content {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: flex-end;
				opacity: 0;
				transition: all 200ms ease;
				span {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-size: $font-size-12;
				}
				.items {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 10px;
					width: 100%;
					padding: 0 5px 26px;
					svg {
						font-size: $font-size-12;
						color: gray;
					}
				}

				&:hover {
					opacity: 1;
					background: linear-gradient(
						180deg,
						#02002400 0%,
						#09097900 35%,
						rgba(0, 0, 0, 0.82) 100%
					);
				}
			}
		}

		.now {
			@include trending_nhw();
			@include scrollStyle();
		}

		.hot {
			@include trending_nhw();
			@include scrollStyle();
		}

		.wow {
			@include trending_nhw();
			@include scrollStyle();
		}

		.card {
			@include square_card($scale: 1.2);
			position: relative;

			&:hover > div {
				opacity: 1;
			}

			@include card_body();
			// p {
			// 	position: absolute;
			// 	left: 0;
			// 	// bottom: -44px;
			// 	bottom: 0;
			// 	padding: 10px;
			// 	font-size: 10px;
			// 	background-color: #205f51e0;
			// 	overflow: hidden;
			// 	white-space: pre-line;
			// 	text-overflow: ellipsis;
			// 	max-height: 45px;
			// 	width: 100%;
			// 	transition: all 800ms;
			// 	opacity: 0;
			// 	@include for-phone-only {
			// 		opacity: 1;
			// 		bottom: 0;
			// 	}
			// }
		}
	}
}
