$font-stack: "Poppins", sans-serif !default;

$primary-color: #00a693;
$secondary-color: #3cb389;
$alt-primary-color: #0377be;
$alt-secondary-color: #d0dd37;

$font-size-12: 0.75rem;
$font-size-10: 0.9975rem;
$font-size-8: 1.3rem;
