@import "index";

@include search-area();

.container {
	@include live();

	.top {
		position: relative;
		// top: -150px;
		top: 20px;
		width: 90%;
		margin: auto;

		h3 {
			font-weight: normal;
			font-size: $font-size-8;
			letter-spacing: 1px;
			margin-bottom: 5px;
		}

		h4 {
			font-weight: normal;
			font-size: $font-size-10;
			letter-spacing: 1px;
			padding-top: 20px;
			padding-left: 0px;
		}

		@include trending();
		@include watch();
		@include explore();
	}

	@include category-channel();
	@include read();
	@include local();
}

.mainPlayerDiv {
	z-index: 998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;

	@include view-article();

	.backButton {
		position: absolute;
		// top: 78px;
		top: 160px;
		right: 5%;

		// left: 30px;
		// right: 30px; // Kenneth 20201029

		button {
			// background-color: #009688;
			// border: none;
			// color: white;
			// /* padding: 10px; */
			// border-radius: 50%;
			// height: 28px;
			// width: 28px;
			// cursor: pointer;
			// outline: none;
			cursor: pointer;
			outline: none;
			border: none;
			background: transparent;
		}
	}
}

.hideMainPlayerDiv {
	opacity: 0;
	pointer-events: none;
}

.showMainPlayerDiv {
	opacity: 1;
	pointer-events: all;
}

.loginDivHide {
	display: none;
}

.loginDivShow {
	display: block;
}

.loginDiv {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000000bf;

	.form-area {
		height: inherit;
		display: flex;
		align-items: center;
		justify-content: center;

		.wrapper {
			width: 365px;
			padding: 20px;
			/* margin: 20px; */
			border: 1px solid rgb(216, 221, 230);
			border-radius: 5px;
			background-color: white;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;

			h1 {
				margin-bottom: 28px;
				color: rgb(84, 105, 141);
				font-size: 24px;
			}

			.form-wrapper {
				* {
					display: block;
					width: 100%;
				}

				a {
					text-decoration: none;
					display: unset;
					width: unset;
				}

				.input-wrapper {
					margin-bottom: 16px;
					padding: 0;
					label {
						color: rgb(84, 105, 141);
						margin-bottom: 8px;
						font-size: 13px;
					}

					.text-left {
						display: unset;
					}

					.error {
						color: #dc3545;
					}

					input.error {
						border-color: #dc3545;
					}

					input {
						outline: none;
						color: rgb(84, 105, 141);
						/* margin-bottom: 16px; */
						padding: 12px;
						font-size: 0.8125rem;
						background-color: transparent;
						border: 1px solid #868686;
						border-radius: 3px;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						-ms-border-radius: 3px;
						-o-border-radius: 3px;
					}

					input[type="checkbox"] {
						display: unset;
						width: unset;
					}

					.login-button,
					.register-btn {
						color: white;
						margin-top: 24px;
						margin-bottom: 16px;
						padding: 16px 0px;
						cursor: pointer;
						background-color: #00a693;
						border: none;
						border-radius: 3px;
						font-size: 16px;
					}

					input[type="submit"]:disabled {
						background-color: #00a693b3;
					}

					.text-center {
						text-align: center;
						span {
							font-size: 12px;
						}

						a {
							font-weight: 700;
							font-size: 12px;
							color: #00a693;
						}
					}
				}
			}

			.alert {
				background-color: #d4edda;
				border-color: #c3e6cb;
				width: 100%;
				padding: 10px;
				h3 {
					font-size: 14px;
					color: #155724;
					font-weight: 400;
				}
				a {
					color: #00a693;
					font-size: 12px;
				}
			}
		}
	}
}
@include profile();

@include read-prompt();
