@import "variables";
@import "global";

body {
	background-image: url("../images/Watch NOWNa BG Image.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	// padding: 0;
	// height: 100vh;
}

.text-center {
	text-align: center !important;
	margin-top: 10px;
	span {
		font-size: 12px;
		color: rgb(84, 105, 141);
		font-weight: 400;
	}
	a {
		font-size: 12px;
		font-weight: 700;
		color: #00a693;
	}
}

.mt-24 {
	margin-top: 24px !important;
}

main {
	width: 90%;
	margin: auto;
	color: #ffffff;
	height: 100vh;
	position: relative;

	.login-section {
		width: 100%;
		.logo-area {
			padding-top: 20px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 10px;
			height: 15vh;
			@include for-phone-only {
				height: 12vh;
			}
			img {
				height: 100%;
			}
			p {
				color: #ffffff;
				font-size: 22px;
				font-weight: 600;
				@include for-phone-only {
					font-size: 18px;
				}
			}
		}
		.form-area {
			margin-top: 2rem;
			width: 100%;

			.wrapper {
				background: #ffffff;
				padding: 20px;
				width: 380px;
				border-radius: 4px;
				@include for-phone-only {
					width: auto;
				}
				h1 {
					font-size: 24px;
					font-weight: 500;
					color: #54698d;
				}

				form {
					display: flex;
					flex-direction: column;
					.input-wrapper {
						display: flex;
						flex-direction: column;
						// margin-top: 0.5rem;
						gap: 0;
						padding: 0;
						label {
							color: rgb(84, 105, 141);
							margin-bottom: 10px;
							font-size: 13px;
							margin-top: 15px;
						}
						input {
							outline: none;
							color: rgb(84, 105, 141);
							/* margin-bottom: 16px; */
							padding: 12px;
							font-size: 0.8125rem;
							background-color: transparent;
							border: 1px solid #868686;
							border-radius: 3px;
							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							-ms-border-radius: 3px;
							-o-border-radius: 3px;
						}

						button {
							color: white;
							// margin-top: 24px;
							// margin-bottom: 16px;
							padding: 12px 0px;
							cursor: pointer;
							background-color: #00a693;
							border: none;
							border-radius: 3px;
							font-size: 16px;
						}

						input[type="checkbox"] {
							display: unset;
							width: unset;
						}

						a {
							text-decoration: none;

							&:hover {
								color: #00a693;
							}
						}
					}
				}
			}
		}
	}

	.footer {
		width: 100%;
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.devices {
			display: flex;
			img {
				height: 30px;
				width: 30px;
			}
		}
	}
}

// main {
// 	// display: grid;
// 	// grid-template-columns: 600px auto;
// 	height: 100%;
// 	width: 92%;
// 	margin: auto;
// 	position: relative;

// 	section {
// 		max-height: 100%;
// 	}

// 	/* Extra small devices (phones, 600px and down) */
// 	@media only screen and (max-width: 600px) {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 		// min-height: 0;

// 		section.login-section {
// 			display: flex;
// 			flex-direction: column;
// 			align-items: center;
// 			padding: 0;

// 			.logo-area {
// 				display: flex;
// 				flex-direction: column;

// 				img {
// 					width: 100px;
// 				}

// 				p {
// 					font-size: 16px;
// 					margin: -10px 0 20px 0;
// 				}
// 			}

// 			.form-area {
// 				// margin-bottom: 50px;

// 				.wrapper {
// 					width: 100%;
// 				}
// 			}

// 			// .copyright-area {
// 			// 	margin: 18% 0 5% 0;
// 			// }
// 		}

// 		// .image-section {
// 		// 	display: block;

// 		// 	.devices {
// 		// 		display: flex;
// 		// 		justify-content: space-between;
// 		// 		align-items: center;
// 		// 		width: 100%;
// 		// 	}
// 		// }
// 	}
// }

// .login-section {
// 	display: flex;
// 	flex-direction: column;
// 	padding: 50px 0;
// 	align-items: baseline;

// 	.logo-area {
// 		display: flex;
// 		align-items: center;

// 		img {
// 			height: 72px;
// 		}

// 		p {
// 			color: white;
// 			font-size: 32px;
// 			margin-left: 10px;
// 		}
// 	}

// 	.form-area {
// 		display: flex;
// 		flex: 1;
// 		align-items: center;
// 		justify-content: center;

// 		.wrapper {
// 			width: 365px;
// 			padding: 20px;
// 			margin: 20px;
// 			border: 1px solid rgb(216, 221, 230);
// 			border-radius: 5px;
// 			background-color: white;
// 			-webkit-border-radius: 5px;
// 			-moz-border-radius: 5px;
// 			-ms-border-radius: 5px;
// 			-o-border-radius: 5px;

// 			h1 {
// 				// margin-bottom: 28px;
// 				color: rgb(84, 105, 141);
// 				font-size: 24px;
// 			}

// 			.loginForm,
// 			.register {
// 				* {
// 					display: block;
// 					width: 100%;
// 				}

// 				a {
// 					text-decoration: none;
// 					display: unset;
// 					width: unset;
// 				}

// 				.input-wrapper {
// 					margin-bottom: 16px;

// 					@include for-phone-only {
// 						display: flex;
// 						flex-direction: column;
// 					}

// 					label {
// 						color: rgb(84, 105, 141);
// 						margin-bottom: 8px;
// 						font-size: 13px;
// 					}

// 					input {
// 						outline: none;
// 						color: rgb(84, 105, 141);
// 						/* margin-bottom: 16px; */
// 						padding: 12px;
// 						font-size: 0.8125rem;
// 						background-color: transparent;
// 						border: 1px solid #868686;
// 						border-radius: 3px;
// 						-webkit-border-radius: 3px;
// 						-moz-border-radius: 3px;
// 						-ms-border-radius: 3px;
// 						-o-border-radius: 3px;
// 					}

// 					.login-button {
// 						color: white;
// 						margin-top: 24px;
// 						margin-bottom: 16px;
// 						padding: 16px 0px;
// 						cursor: pointer;
// 						background-color: #00a693;
// 						border: none;
// 						border-radius: 3px;
// 						font-size: 16px;
// 					}

// 					input[type="checkbox"] {
// 						display: unset;
// 						width: unset;
// 					}

// 					.text-left {
// 						display: unset;
// 						width: unset;
// 					}

// 					.register-btn {
// 						color: white;
// 						margin-top: 24px;
// 						margin-bottom: 16px;
// 						padding: 16px 0px;
// 						cursor: pointer;
// 						background-color: #00a693;
// 						border: none;
// 						border-radius: 3px;
// 						font-size: 16px;
// 					}
// 				}
// 			}
// 		}
// 	}

// 	// .copyright-area {
// 	// 	height: 72px;
// 	// 	display: flex;
// 	// 	justify-content: space-between;
// 	// 	align-items: flex-end;

// 	// 	p {
// 	// 		color: white;
// 	// 		font-weight: 200;
// 	// 	}
// 	// }
// }

// .image-section {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	position: absolute;
// 	bottom: 0;
// 	width: 100%;

// 	p {
// 		color: white;
// 	}

// 	.devices {
// 		margin: 20px 0px 20px 0px;

// 		img {
// 			height: 30px;
// 			width: 30px;
// 		}
// 	}

// 	/* Extra small devices (phones, 600px and down) */
// 	@media only screen and (max-width: 600px) {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;

// 		p {
// 			font-size: 14px;
// 		}

// 		.devices {
// 			margin: 10px 0px 10px;

// 			img {
// 				height: 30px;
// 				width: 30px;
// 			}
// 		}
// 	}
// }
